pipeline/AIMS.json
{
	"name": "AIMS",
	"properties": {
		"activities": [
			{
				"name": "Copy_FlightDelays",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "RawData",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "String"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AIMS_FlightDelays",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightDelays_Stage"
						}
					}
				]
			},
			{
				"name": "Set createdid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_createdid",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set loaddate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_loaddate",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set output",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy_FlightDelays",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "created_id",
							"value": {
								"type": "Expression",
								"content": "@variables('created_id')"
							}
						},
						{
							"key": "load_date",
							"value": {
								"type": "Expression",
								"content": "@variables('v_loaddate')"
							}
						},
						{
							"key": "log_output",
							"value": {
								"type": "Expression",
								"content": "@json(\nconcat(\n'[{\n    \"table_name\":\"BcAdfLido.OFP_AlternateRoute\",\n    \"result\": \"',activity('Copy_OFP_AlternateRoute').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_OFP_AlternateRoute').output.executionDetails[0].status,'Succeeded'),activity('Copy_OFP_AlternateRoute').output.rowsCopied,0),'\n}]\n'))"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Wait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set createdid",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set loaddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"parameters": {
			"InputFileName": {
				"type": "string",
				"defaultValue": "ofp.xml"
			}
		},
		"variables": {
			"v_createdid": {
				"type": "String"
			},
			"v_loaddate": {
				"type": "String"
			},
			"created_id": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-30T14:48:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}