pipeline/PL_AIRPORTDATALIST.json
{
	"name": "PL_AIRPORTDATALIST",
	"properties": {
		"activities": [
			{
				"name": "Copy_OFP_AirportDataList_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['Airport']['@airportName']"
								},
								"sink": {
									"name": "AirportName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airport']['@airportFunction']"
								},
								"sink": {
									"name": "AirportFunction",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airport']['AirportICAOCode']"
								},
								"sink": {
									"name": "AirportICAOCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airport']['AirportIATACode']"
								},
								"sink": {
									"name": "AirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SuitablePeriod']['@from']"
								},
								"sink": {
									"name": "SuitablePeriodFrom",
									"type": "DateTime",
									"format": ""
								}
							},
							{
								"source": {
									"path": "['SuitablePeriod']['@until']"
								},
								"sink": {
									"name": "SuitablePeriodTo",
									"type": "DateTime",
									"format": ""
								}
							},
							{
								"source": {
									"path": "['PlannedRunway']"
								},
								"sink": {
									"name": "PlannedRunway",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TerminalProcedure']"
								},
								"sink": {
									"name": "TerminalProcedure",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TerminalProcedure']['procedureType']"
								},
								"sink": {
									"name": "TerminalProcedureType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RequiredWeatherCondition']['RequiredHorizontalVisibility']"
								},
								"sink": {
									"name": "RequiredHorizontalVisibility",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "['RequiredWeatherCondition']['RequiredHorizontalVisibility']['@unit']"
								},
								"sink": {
									"name": "RequiredHorizontalVisibilityUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RequiredWeatherCondition']['RequiredVerticalVisibility']"
								},
								"sink": {
									"name": "RequiredVerticalVisibility",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "['RequiredWeatherCondition']['RequiredVerticalVisibility']['@unit']"
								},
								"sink": {
									"name": "RequiredVerticalVisibilityUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ConsideredWeatherCondition']['ConsideredHorizontalVisibility']"
								},
								"sink": {
									"name": "ConsideredHorizontalVisibility",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "['ConsideredWeatherCondition']['ConsideredHorizontalVisibility']['@unit']"
								},
								"sink": {
									"name": "ConsideredHorizontalVisibilityUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ConsideredWeatherCondition']['ConsideredVerticalVisibility']"
								},
								"sink": {
									"name": "ConsideredVerticalVisibility",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "['ConsideredWeatherCondition']['ConsideredVerticalVisibility']['@unit']"
								},
								"sink": {
									"name": "ConsideredVerticalVisibilityUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['AirportDataList']['AirportData']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfLido",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "OFP_AirportDataList_Stage"
						}
					}
				]
			},
			{
				"name": "Copy_OFP_AirportDataList",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_OFP_AirportDataList_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT [FlightPlanId]\n,json_value(b.Value, '$.\"_value_\"') as TerminalProcedure\n,json_value(b.Value, '$.\"@procedureType\"') as TerminalProcedureType\n,[AirportName]\n,[AirportFunction]\n,[AirportICAOCode]\n,[AirportIATACode]\n,[PlannedRunway]\n,[SuitablePeriodFrom]\n,[SuitablePeriodTo]\n,[RequiredHorizontalVisibility]\n,[RequiredHorizontalVisibilityUnit]\n,[RequiredVerticalVisibility]\n,[RequiredVerticalVisibilityUnit]\n,[ConsideredHorizontalVisibility]\n,[ConsideredHorizontalVisibilityUnit]\n,[ConsideredVerticalVisibility]\n,[ConsideredVerticalVisibilityUnit]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\nFROM [BcAdfLido].[OFP_AirportDataList_Stage] a\ncross apply openjson(\n    case when Left(TerminalProcedure,1) ='[' \n     then TerminalProcedure \n     else '['+TerminalProcedure+']' end ,'$') b",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirportName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirportFunction",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportFunction",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirportICAOCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportICAOCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PlannedRunway",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PlannedRunway",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TerminalProcedure",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TerminalProcedure",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TerminalProcedureType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TerminalProcedureType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SuitablePeriodFrom",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SuitablePeriodFrom",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "SuitablePeriodTo",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SuitablePeriodTo",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "RequiredHorizontalVisibility",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "RequiredHorizontalVisibility",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "RequiredHorizontalVisibilityUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RequiredHorizontalVisibilityUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RequiredVerticalVisibility",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "RequiredVerticalVisibility",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "RequiredVerticalVisibilityUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RequiredVerticalVisibilityUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ConsideredHorizontalVisibility",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "ConsideredHorizontalVisibility",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ConsideredHorizontalVisibilityUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ConsideredHorizontalVisibilityUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ConsideredVerticalVisibility",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "ConsideredVerticalVisibility",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ConsideredVerticalVisibilityUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ConsideredVerticalVisibilityUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "synapse_BcAdfLido",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "OFP_AirportDataList_Stage"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfLido",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "OFP_AirportDataList"
						}
					}
				]
			},
			{
				"name": "Delete_OFP_AirportDataList_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_OFP_AirportDataList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "@concat('delete FROM [BcAdfLido].[OFP_AirportDataList_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set createid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_createdid",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set createid",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set loaddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Delete_OFP_AirportDataList_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "createe_id",
							"value": {
								"type": "Expression",
								"content": "@variables('v_createdid')"
							}
						},
						{
							"key": "laod_date",
							"value": {
								"type": "Expression",
								"content": "@variables('v_loaddate')"
							}
						},
						{
							"key": "log_output",
							"value": {
								"type": "Expression",
								"content": "@json(\nconcat(\n'[{\n    \"table_name\":\"BcAdfLido.OFP_AirportDataList\",\n    \"result\": \"',activity('Copy_OFP_AirportDataList').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_OFP_AirportDataList').output.executionDetails[0].status,'Succeeded'),activity('Copy_OFP_AirportDataList').output.rowsCopied,0),'\n},]\n'))"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Set loaddate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_loaddate",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"InputFileName": {
				"type": "string",
				"defaultValue": "ofp.xml"
			}
		},
		"variables": {
			"v_createdid": {
				"type": "String"
			},
			"v_loaddate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-30T14:48:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}