pipeline/pl_aims.json
{
	"name": "pl_aims",
	"properties": {
		"activities": [
			{
				"name": "Copy AircraftDates Stage",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "AircraftTypeCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "BaseCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "DeliveryDay",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"name": "ReleaseDate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "String"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Aims_AircraftDates",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AircraftDates_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set createid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_createdid",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set loaddate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_loaddate",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set createid",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Set loaddate",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Copy AircraftDates",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy AircraftDates Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT  [AircraftRegistrationId]\n,[AircraftTypeCode]\n,[BaseCode]\n,cast([DeliveryDay] as date) as DeliveryDay\n,cast([ReleaseDate] as date) as ReleaseDate\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfAims].[AircraftDates_Stage]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AircraftTypeCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AircraftTypeCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BaseCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BaseCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DeliveryDay",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DeliveryDay",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ReleaseDate",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReleaseDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AircraftDates_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AircraftDates",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Aircrafts Stage",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "RawData",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "String"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Aims_Aircrafts",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Aircrafts_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Aircrafts",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy Aircrafts Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT SUBSTRING(RawData,1,6) as AircraftRegistrationId\n,SUBSTRING(RawData,8,6) as AircraftTypeCode\n,SUBSTRING(RawData,15,6) as AircraftDutyIndex\n,SUBSTRING(RawData,22,20) as AircraftTypeDescription\n,SUBSTRING(RawData,43,20) as AircraftName\n,SUBSTRING(RawData,64,6) as MaxCrewSeats\n,SUBSTRING(RawData,71,6) as NumberOfSeatCategory1\n,SUBSTRING(RawData,78,6) as NumberOfSeatCategory2\n,SUBSTRING(RawData,85,6) as NumberOfSeatCategory3\n,SUBSTRING(RawData,92,6) as NumberOfSeatCategory4\n,SUBSTRING(RawData,99,6) as TotalHoursAndCyclesSinceDeliveryDate\n,SUBSTRING(RawData,106,11) as BlockHoursAccumulatedSinceDelivery\n,SUBSTRING(RawData,118,11) as AirbornkHoursAccumulatedSinceDelivery\n,SUBSTRING(RawData,130,11) as LandingsHoursAccumulatedSinceDelivery\n,SUBSTRING(RawData,142,6) as MaxCrewBunks\n,SUBSTRING(RawData,149,2) as WeightVariant\n,SUBSTRING(RawData,152,3) as AcShortCode\n,SUBSTRING(RawData,156,10) as MovementControlColor\n,SUBSTRING(RawData,167,6) as AcOwnerCode\n,SUBSTRING(RawData,174,6) as AircraftFlyMaxRange\n,SUBSTRING(RawData,181,6) as EropsMinutes\n,SUBSTRING(RawData,188,6) as DateUntilXferBeenRun\n,cast(SUBSTRING(RawData,195,8) as datetime) as AircraftReleaseDate\n,cast(SUBSTRING(RawData,204,8) as datetime) as AircraftDeliveryDate\n,SUBSTRING(RawData,213,6) as AircraftCruisingSpeed\n,SUBSTRING(RawData,220,11) as CargoCapacity\n,SUBSTRING(RawData,232,4) as SelectiveCall\n,SUBSTRING(RawData,237,6) as OperatingEmptyWeight\n,SUBSTRING(RawData,244,6) as AircraftClassificationNumber\n,SUBSTRING(RawData,251,6) as MinimumRunwayLength\n,SUBSTRING(RawData,258,10) as FireCategory\n,SUBSTRING(RawData,269,10) as IIsCategory\n,SUBSTRING(RawData,280,10) as WeightIndex\n,SUBSTRING(RawData,291,10) as AirportEquippedAPU\n,SUBSTRING(RawData,302,10) as AirportEquippedASU\n,SUBSTRING(RawData,313,6) as MaximumLandingWeight\n,SUBSTRING(RawData,320,11) as MaximumTakeoffWeight\n,SUBSTRING(RawData,332,30) as AircraftCategory\n,cast(SUBSTRING(RawData,363,8)as datetime) as LastModificationDate\n,SUBSTRING(RawData,372,5) as LastModificationTime\n,SUBSTRING(RawData,378,6) as Modified_by\n,SUBSTRING(RawData,385,20) as LongIndexOfOperatingEmptyWeight\n,SUBSTRING(RawData,406,6) as AircraftSubCategory\n,SUBSTRING(RawData,413,30) as AcMobilePhoneCP\n,SUBSTRING(RawData,444,20) as AcMobilePhoneFO\n,SUBSTRING(RawData,465,20) as AcSatellitePhoneNumber\n,SUBSTRING(RawData,486,20) as AcSatellitePhoneNumber2\n,SUBSTRING(RawData,507,11) as SQModuleIndividualHireRate\n,SUBSTRING(RawData,519,10) as SpecialFlagsForMovementControl\n,SUBSTRING(RawData,530,11) as RegistrationColorForMovementControl\n,SUBSTRING(RawData,542,6) as WheaterLimitationForCelling1\n,SUBSTRING(RawData,549,6) as WheaterLimitationForCelling2\n,SUBSTRING(RawData,556,6) as WheaterLimitationForRvr1\n,SUBSTRING(RawData,563,6) as WheaterLimitationForRvr2\n,SUBSTRING(RawData,570,6) as WheaterLimitationForVisibility1\n,SUBSTRING(RawData,577,6) as WheaterLimitationForVisibility2\n,SUBSTRING(RawData,584,6) as WheaterLimitationForCrosswind1\n,SUBSTRING(RawData,591,6) as WheaterLimitationForCrosswind2\n,SUBSTRING(RawData,598,6) as WheaterLimitationForWind1\n,SUBSTRING(RawData,605,6) as WheaterLimitationForWind2\n,SUBSTRING(RawData,612,6) as WheaterLimitationTakeoff\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfAims].[Aircrafts_Stage]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AircraftTypeCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftTypeCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AircraftDutyIndex",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftDutyIndex",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AircraftTypeDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftTypeDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AircraftName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MaxCrewSeats",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MaxCrewSeats",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NumberOfSeatCategory1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NumberOfSeatCategory1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NumberOfSeatCategory2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NumberOfSeatCategory2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NumberOfSeatCategory3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NumberOfSeatCategory3",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NumberOfSeatCategory4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NumberOfSeatCategory4",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TotalHoursAndCyclesSinceDeliveryDate",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TotalHoursAndCyclesSinceDeliveryDate",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BlockHoursAccumulatedSinceDelivery",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BlockHoursAccumulatedSinceDelivery",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AirbornkHoursAccumulatedSinceDelivery",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirbornkHoursAccumulatedSinceDelivery",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LandingsHoursAccumulatedSinceDelivery",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LandingsHoursAccumulatedSinceDelivery",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MaxCrewBunks",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MaxCrewBunks",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WeightVariant",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WeightVariant",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AcShortCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AcShortCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MovementControlColor",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MovementControlColor",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AcOwnerCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AcOwnerCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AircraftFlyMaxRange",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftFlyMaxRange",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "EropsMinutes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EropsMinutes",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DateUntilXferBeenRun",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DateUntilXferBeenRun",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AircraftReleaseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AircraftReleaseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "AircraftDeliveryDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AircraftDeliveryDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "AircraftCruisingSpeed",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftCruisingSpeed",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CargoCapacity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CargoCapacity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SelectiveCall",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SelectiveCall",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OperatingEmptyWeight",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OperatingEmptyWeight",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AircraftClassificationNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftClassificationNumber",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MinimumRunwayLength",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinimumRunwayLength",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FireCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FireCategory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IIsCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IIsCategory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WeightIndex",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WeightIndex",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AirportEquippedAPU",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportEquippedAPU",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AirportEquippedASU",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportEquippedASU",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MaximumLandingWeight",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MaximumLandingWeight",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MaximumTakeoffWeight",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MaximumTakeoffWeight",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AircraftCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftCategory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastModificationDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModificationDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LastModificationTime",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LastModificationTime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Modified_by",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifierUserID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LongIndexOfOperatingEmptyWeight",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LongIndexOfOperatingEmptyWeight",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AircraftSubCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftSubCategory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AcMobilePhoneCP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AcMobilePhoneCP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AcMobilePhoneFO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AcMobilePhoneFO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AcSatellitePhoneNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AcSatellitePhoneNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AcSatellitePhoneNumber2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AcSatellitePhoneNumber2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SQModuleIndividualHireRate",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SQModuleIndividualHireRate",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SpecialFlagsForMovementControl",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SpecialFlagsForMovementControl",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RegistrationColorForMovementControl",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RegistrationColorForMovementControl",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForCelling1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForCelling1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForCelling2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForCelling2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForRvr1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForRvr1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForRvr2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForRvr2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForVisibility1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForVisibility1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForVisibility2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForVisibility2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForCrosswind1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForCrosswind1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForCrosswind2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForCrosswind2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForWind1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForWind1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationForWind2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationForWind2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WheaterLimitationTakeoff",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WheaterLimitationTakeoff",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Aircrafts_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Aircrafts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Airports Stage",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "100       EP                                                    E018275840   N54223925                          WAW       0 POZ       0           0           0          2          0 20020708          0          1          0                     0                              00:00 00:00          0      0      0          0         17      0      0   2800          7         0          0          0 <BLOB>              0          0 <BLOB>              0          0 <BLOB>              0          0 <BLOB>              0                                                                   488                                               1          0               0          0          0          0          0          0          0          0          0          0          0          0          0          0          0 00:00 00:00                                              0          0 00:00          0          0 ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RawData",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "String"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Aims_Airports",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Airports_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Airports",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy Airports Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select SUBSTRING(RawData,1,4) as IataAirportCode\n,SUBSTRING(RawData,6,4) as IcaoAirportCode\n,SUBSTRING(RawData,11,2) as IcaoCountryCode\n,SUBSTRING(RawData,14,4) as TerminalPerCode\n,SUBSTRING(RawData,19,4) as CoTerminalAirportCode\n,SUBSTRING(RawData,24,40) as AirportName\n,SUBSTRING(RawData,65,12) as Longitude\n,SUBSTRING(RawData,78,12) as Latitude\n,SUBSTRING(RawData,91,10) as Frequencies1\n,SUBSTRING(RawData,102,10) as Frequencies2\n,SUBSTRING(RawData,113,4) as DiversionAlternateAirport1\n,SUBSTRING(RawData,118,6) as DiversionAlternateAirportDistance1\n,SUBSTRING(RawData,125,4) as DiversionAlternateAirport2\n,SUBSTRING(RawData,130,6) as DiversionAlternateAirportDistance2\n,SUBSTRING(RawData,137,4) as DiversionAlternateAirport3\n,SUBSTRING(RawData,142,6) as DiversionAlternateAirportDistance3\n,SUBSTRING(RawData,149,4) as DiversionAlternateAirport4\n,SUBSTRING(RawData,154,6) as DiversionAlternateAirportDistance4\n,SUBSTRING(RawData,161,10) as ScrOrSmaRequirements\n,SUBSTRING(RawData,172,10) as HistoricalSlot\n,cast(SUBSTRING(RawData,183,8) as datetime) as EffectiveDate\n,SUBSTRING(RawData,192,10) as EffectiveType\n,SUBSTRING(RawData,203,10) as AirportZoneNumber\n,SUBSTRING(RawData,214,10) as UseActiveRepresentationForMessageType\n,SUBSTRING(RawData,225,1) as AirportZoneArea\n,SUBSTRING(RawData,227,8) as SitaAddressOfCoordinator1\n,SUBSTRING(RawData,236,8) as SitaAddressOfCoordinator2\n,SUBSTRING(RawData,245,30) as PortCategories\n,SUBSTRING(RawData,276,5) as UsualTaxiDepartureTime\n,SUBSTRING(RawData,282,5) as UsualTaxiArrivalTime\n,SUBSTRING(RawData,288,10) as Overseas\n,SUBSTRING(RawData,299,6) as DeclarationCopies\n,SUBSTRING(RawData,306,6) as ManifestCopies\n,SUBSTRING(RawData,313,10) as DeclarationCopiesBitFlagsForReqDocs\n,SUBSTRING(RawData,324,10) as BitFlagsForVariableGroundsEquipment\n,SUBSTRING(RawData,335,6) as FlightNumbersFrom\n,SUBSTRING(RawData,342,6) as FlightNumbersTo\n,SUBSTRING(RawData,349,6) as MinumumRunwayLength\n,SUBSTRING(RawData,356,10) as FireCategory\n,SUBSTRING(RawData,367,2) as FuelCurrency\n,SUBSTRING(RawData,370,6) as FuelUnit\n,SUBSTRING(RawData,377,10) as CabinLanguageReqLangNumber1\n,SUBSTRING(RawData,388,10) as CabinLanguageReqLangIndex1\n,SUBSTRING(RawData,399,10) as CabinLanguageReqLangPosition1\n,SUBSTRING(RawData,410,10) as CabinLanguageReqLangNumber2\n,SUBSTRING(RawData,421,10) as CabinLanguageReqLangIndex2\n,SUBSTRING(RawData,432,10) as CabinLanguageReqLangPosition2\n,SUBSTRING(RawData,443,10) as CabinLanguageReqLangNumber3\n,SUBSTRING(RawData,454,10) as CabinLanguageReqLangIndex3\n,SUBSTRING(RawData,465,10) as CabinLanguageReqLangPosition3\n,SUBSTRING(RawData,476,10) as CabinLanguageReqLangNumber4\n,SUBSTRING(RawData,487,10) as CabinLanguageReqLangIndex4\n,SUBSTRING(RawData,498,10) as CabinLanguageReqLangPosition4\n,SUBSTRING(RawData,509,10) as CoordinaltorSlotTimes\n,SUBSTRING(RawData,520,20) as TaxFreeSalary1\n,SUBSTRING(RawData,541,20) as TaxFreeSalary2\n,SUBSTRING(RawData,562,20) as TaxFreeSalary3\n,SUBSTRING(RawData,583,6) as ElavationInFeet\n,SUBSTRING(RawData,590,40) as IvrName\n,SUBSTRING(RawData,631,6) as Modified_by\n,SUBSTRING(RawData,638,10) as AircraftHomeBaseForSmsModule\n,SUBSTRING(RawData,649,4) as Ivr4LetterCode\n,SUBSTRING(RawData,654,10) as CockpitAirportRepDebriefingTimesRepTimes1\n,SUBSTRING(RawData,665,10) as CockpitAirportRepDebriefingTimesDebriefingTimes1\n,SUBSTRING(RawData,676,10) as CockpitAirportRepDebriefingTimesRepTimes2\n,SUBSTRING(RawData,687,10) as CockpitAirportRepDebriefingTimesDebriefingTimes2\n,SUBSTRING(RawData,698,10) as CockpitAirportPARepDebriefingTimesRepTimes1\n,SUBSTRING(RawData,709,10) as CockpitAirportPARepDebriefingTimesDebriefingTimes1\n,SUBSTRING(RawData,720,10) as CockpitAirportPGRepDebriefingTimesRepTimes1\n,SUBSTRING(RawData,731,10) as CabinAirportRepDebriefingTimesRepTimes1\n,SUBSTRING(RawData,742,10) as CabinAirportRepDebriefingTimesDebriefingTimes1\n,SUBSTRING(RawData,753,10) as CabinAirportRepDebriefingTimesRepTimes2\n,SUBSTRING(RawData,764,10) as CabinAirportRepDebriefingTimesDebriefingTimes2\n,SUBSTRING(RawData,775,10) as CabinAirportPARepDebriefingTimesRepTimes1\n,SUBSTRING(RawData,786,10) as CabinAirportPARepDebriefingTimesDebriefingTimes1\n,SUBSTRING(RawData,797,10) as CabinAirportPGRepDebriefingTimesRepTimes1\n,SUBSTRING(RawData,808,10) as CabinAirportPGRepDebriefingTimesDebriefingTimes1\n,SUBSTRING(RawData,819,5) as MinimumConnectionTimes\n,SUBSTRING(RawData,825,5) as MinimumCargoTimes\n,SUBSTRING(RawData,831,30) as IvrName2\n,SUBSTRING(RawData,862,4) as Ivr4LetterCodeForFrench\n,SUBSTRING(RawData,867,10) as Lang1\n,SUBSTRING(RawData,878,10) as Lang2\n,SUBSTRING(RawData,889,5) as SmsUnusedSlotTime\n,SUBSTRING(RawData,895,10) as LandingRequired\n,SUBSTRING(RawData,906,10) as BriefingRequired\n,null as CockpitAirportPGRepDebriefingTimesDebriefingTimes1\n,null as NumberOfValidRunways\n,null as RunwayActiveFlag\n,null as RunwayId1\n,null as RunwayId2\n,null as RunwayId3\n,null as RunwayId4\n,null as RunwayId5\n,null as RunwayId6\n,null as RunwayId7\n,null as RunwayId8\n,TCreatedId\n,TLoadDate\n,TFileName\n from  [BcAdfAims].[Airports_Stage]\n;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "IataAirportCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IataAirportCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IcaoAirportCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IcaoAirportCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IcaoCountryCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IcaoCountryCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TerminalPerCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TerminalPerCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CoTerminalAirportCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CoTerminalAirportCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AirportName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Longitude",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Longitude",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Latitude",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Latitude",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Frequencies1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Frequencies1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Frequencies2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Frequencies2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DiversionAlternateAirport1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DiversionAlternateAirport1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DiversionAlternateAirportDistance1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DiversionAlternateAirportDistance1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DiversionAlternateAirport2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DiversionAlternateAirport2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DiversionAlternateAirportDistance2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DiversionAlternateAirportDistance2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DiversionAlternateAirport3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DiversionAlternateAirport3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DiversionAlternateAirportDistance3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DiversionAlternateAirportDistance3",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DiversionAlternateAirport4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DiversionAlternateAirport4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DiversionAlternateAirportDistance4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DiversionAlternateAirportDistance4",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ScrOrSmaRequirements",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ScrOrSmaRequirements",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "HistoricalSlot",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "HistoricalSlot",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EffectiveDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "EffectiveDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "EffectiveType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EffectiveType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AirportZoneNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportZoneNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UseActiveRepresentationForMessageType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UseActiveRepresentationForMessageType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AirportZoneArea",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportZoneArea",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SitaAddressOfCoordinator1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SitaAddressOfCoordinator1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SitaAddressOfCoordinator2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SitaAddressOfCoordinator2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PortCategories",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PortCategories",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UsualTaxiDepartureTime",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UsualTaxiDepartureTime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UsualTaxiArrivalTime",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UsualTaxiArrivalTime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Overseas",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Overseas",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DeclarationCopies",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DeclarationCopies",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ManifestCopies",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ManifestCopies",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DeclarationCopiesBitFlagsForReqDocs",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DeclarationCopiesBitFlagsForReqDocs",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BitFlagsForVariableGroundsEquipment",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BitFlagsForVariableGroundsEquipment",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FlightNumbersFrom",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightNumbersFrom",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FlightNumbersTo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightNumbersTo",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MinumumRunwayLength",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinumumRunwayLength",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FireCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FireCategory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FuelCurrency",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelCurrency",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FuelUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUnit",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangNumber1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangNumber1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangIndex1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangIndex1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangPosition1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangPosition1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangNumber2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangNumber2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangIndex2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangIndex2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangPosition2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangPosition2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangNumber3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangNumber3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangIndex3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangIndex3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangPosition3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangPosition3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangNumber4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangNumber4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangIndex4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangIndex4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinLanguageReqLangPosition4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinLanguageReqLangPosition4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CoordinaltorSlotTimes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CoordinaltorSlotTimes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxFreeSalary1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TaxFreeSalary1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxFreeSalary2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TaxFreeSalary2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxFreeSalary3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TaxFreeSalary3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ElavationInFeet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ElavationInFeet",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "IvrName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IvrName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Modified_by",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifierUserID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AircraftHomeBaseForSmsModule",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftHomeBaseForSmsModule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Ivr4LetterCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Ivr4LetterCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitAirportRepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitAirportRepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitAirportRepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitAirportRepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitAirportRepDebriefingTimesRepTimes2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitAirportRepDebriefingTimesRepTimes2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitAirportRepDebriefingTimesDebriefingTimes2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitAirportRepDebriefingTimesDebriefingTimes2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitAirportPARepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitAirportPARepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitAirportPARepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitAirportPARepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitAirportPGRepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitAirportPGRepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitAirportPGRepDebriefingTimesDebriefingTimes1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CockpitAirportPGRepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinAirportRepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinAirportRepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinAirportRepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinAirportRepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinAirportRepDebriefingTimesRepTimes2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinAirportRepDebriefingTimesRepTimes2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinAirportRepDebriefingTimesDebriefingTimes2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinAirportRepDebriefingTimesDebriefingTimes2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinAirportPARepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinAirportPARepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinAirportPARepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinAirportPARepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinAirportPGRepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinAirportPGRepDebriefingTimesRepTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CabinAirportPGRepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CabinAirportPGRepDebriefingTimesDebriefingTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MinimumConnectionTimes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinimumConnectionTimes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MinimumCargoTimes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinimumCargoTimes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NumberOfValidRunways",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NumberOfValidRunways",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunwayActiveFlag",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RunwayActiveFlag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunwayId1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RunwayId1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunwayId2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RunwayId2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunwayId3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RunwayId3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunwayId4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RunwayId4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunwayId5",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RunwayId5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunwayId6",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RunwayId6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunwayId7",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RunwayId7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunwayId8",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RunwayId8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IvrName2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IvrName2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Ivr4LetterCodeForFrench",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Ivr4LetterCodeForFrench",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Lang1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Lang1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Lang2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Lang2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SmsUnusedSlotTime",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SmsUnusedSlotTime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LandingRequired",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LandingRequired",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BriefingRequired",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BriefingRequired",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Airports_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Airports",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy CityPairs Stage",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "0  0 0    0                                       0          0 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00 00:00          0          0     0          0          0          0          0          0          0          0          0          0          0          0          0          0     0          0     0          0     0          0     0          0      0          1          1          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0          0                      0      0 ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RawData",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "String"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Aims_CityPairs",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CityPairs_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy CityPairs",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy CityPairs Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT case when SUBSTRING(RawData,1,4) = '' then null else SUBSTRING(RawData,1,4) end as AirportCode1\n, case when SUBSTRING(RawData,6,4) = '' then null else SUBSTRING(RawData,6,4) end as AirportCode2\n, case when SUBSTRING(RawData,11,30) = '' then null else SUBSTRING(RawData,11,30) end as Category\n, case when SUBSTRING(RawData,42,10) = '' then null else SUBSTRING(RawData,42,10) end as ReportingTimeCategory\n, case when SUBSTRING(RawData,53,10) = '' then null else SUBSTRING(RawData,53,10) end as NoTrafficRights\n, case when SUBSTRING(RawData,64,5) = '' then null else SUBSTRING(RawData,64,5) end as SunsetTimes1\n, case when SUBSTRING(RawData,70,5) = '' then null else SUBSTRING(RawData,70,5) end as SunsetTimes2\n, case when SUBSTRING(RawData,76,5) = '' then null else SUBSTRING(RawData,76,5) end as SunsetTimes3\n, case when SUBSTRING(RawData,82,5) = '' then null else SUBSTRING(RawData,82,5) end as SunsetTimes4\n, case when SUBSTRING(RawData,88,5) = '' then null else SUBSTRING(RawData,88,5) end as SunsetTimes5\n, case when SUBSTRING(RawData,94,5) = '' then null else SUBSTRING(RawData,94,5) end as SunsetTimes6\n, case when SUBSTRING(RawData,100,5) = '' then null else SUBSTRING(RawData,100,5) end as SunsetTimes7\n, case when SUBSTRING(RawData,106,5) = '' then null else SUBSTRING(RawData,106,5) end as SunsetTimes8\n, case when SUBSTRING(RawData,112,5) = '' then null else SUBSTRING(RawData,112,5) end as SunsetTimes9\n, case when SUBSTRING(RawData,118,5) = '' then null else SUBSTRING(RawData,118,5) end as SunsetTimes10\n, case when SUBSTRING(RawData,124,5) = '' then null else SUBSTRING(RawData,124,5) end as SunsetTimes11\n, case when SUBSTRING(RawData,130,5) = '' then null else SUBSTRING(RawData,130,5) end as SunsetTimes12\n, case when SUBSTRING(RawData,136,5) = '' then null else SUBSTRING(RawData,136,5) end as SunriseTimes1\n, case when SUBSTRING(RawData,142,5) = '' then null else SUBSTRING(RawData,142,5) end as SunriseTimes2\n, case when SUBSTRING(RawData,148,5) = '' then null else SUBSTRING(RawData,148,5) end as SunriseTimes3\n, case when SUBSTRING(RawData,154,5) = '' then null else SUBSTRING(RawData,154,5) end as SunriseTimes4\n, case when SUBSTRING(RawData,160,5) = '' then null else SUBSTRING(RawData,160,5) end as SunriseTimes5\n, case when SUBSTRING(RawData,166,5) = '' then null else SUBSTRING(RawData,166,5) end as SunriseTimes6\n, case when SUBSTRING(RawData,172,5) = '' then null else SUBSTRING(RawData,172,5) end as SunriseTimes7\n, case when SUBSTRING(RawData,178,5) = '' then null else SUBSTRING(RawData,178,5) end as SunriseTimes8\n, case when SUBSTRING(RawData,184,5) = '' then null else SUBSTRING(RawData,184,5) end as SunriseTimes9\n, case when SUBSTRING(RawData,190,5) = '' then null else SUBSTRING(RawData,190,5) end as SunriseTimes10\n, case when SUBSTRING(RawData,196,5) = '' then null else SUBSTRING(RawData,196,5) end as SunriseTimes11\n, case when SUBSTRING(RawData,202,5) = '' then null else SUBSTRING(RawData,202,5) end as SunriseTimes12\n, case when SUBSTRING(RawData,208,10) = '' then null else SUBSTRING(RawData,208,10) end as AllowGeneraitonFerryFlights\n, case when SUBSTRING(RawData,219,10) = '' then null else SUBSTRING(RawData,219,10) end as DistanceUnit\n, case when SUBSTRING(RawData,230,5) = '' then null else SUBSTRING(RawData,230,5) end as DistanceBetweenAirports\n, case when SUBSTRING(RawData,236,10) = '' then null else SUBSTRING(RawData,236,10) end as CockpitCabinType1\n, case when SUBSTRING(RawData,247,10) = '' then null else SUBSTRING(RawData,247,10) end as ServiceTypeDayOfWeek1\n, case when SUBSTRING(RawData,258,10) = '' then null else SUBSTRING(RawData,258,10) end as IndeToCrewComplements1\n, case when SUBSTRING(RawData,269,10) = '' then null else SUBSTRING(RawData,269,10) end as CockpitCabinType2\n, case when SUBSTRING(RawData,280,10) = '' then null else SUBSTRING(RawData,280,10) end as ServiceTypeDayOfWeek2\n, case when SUBSTRING(RawData,291,10) = '' then null else SUBSTRING(RawData,291,10) end as IndeToCrewComplements2\n, case when SUBSTRING(RawData,302,10) = '' then null else SUBSTRING(RawData,302,10) end as CockpitCabinType3\n, case when SUBSTRING(RawData,313,10) = '' then null else SUBSTRING(RawData,313,10) end as ServiceTypeDayOfWeek3\n, case when SUBSTRING(RawData,324,10) = '' then null else SUBSTRING(RawData,324,10) end as IndeToCrewComplements3\n, case when SUBSTRING(RawData,335,10) = '' then null else SUBSTRING(RawData,335,10) end as CockpitCabinType4\n, case when SUBSTRING(RawData,346,10) = '' then null else SUBSTRING(RawData,346,10) end as ServiceTypeDayOfWeek4\n, case when SUBSTRING(RawData,357,10) = '' then null else SUBSTRING(RawData,357,10) end as IndeToCrewComplements4\n, case when SUBSTRING(RawData,368,10) = '' then null else SUBSTRING(RawData,368,10) end as IndexInTables1\n, case when SUBSTRING(RawData,379,5) = '' then null else SUBSTRING(RawData,379,5) end as RelatedDistance1\n, case when SUBSTRING(RawData,385,10) = '' then null else SUBSTRING(RawData,385,10) end as IndexInTables2\n, case when SUBSTRING(RawData,396,5) = '' then null else SUBSTRING(RawData,396,5) end as RelatedDistance2\n, case when SUBSTRING(RawData,402,10) = '' then null else SUBSTRING(RawData,402,10) end as IndexInTables3\n, case when SUBSTRING(RawData,413,5) = '' then null else SUBSTRING(RawData,413,5) end as RelatedDistance3\n, case when SUBSTRING(RawData,419,10) = '' then null else SUBSTRING(RawData,419,10) end as IndexInTables4\n, case when SUBSTRING(RawData,430,5) = '' then null else SUBSTRING(RawData,430,5) end as RelatedDistance4\n, case when SUBSTRING(RawData,436,10) = '' then null else SUBSTRING(RawData,436,10) end as FlatfeeType\n, case when SUBSTRING(RawData,447,6) = '' then null else SUBSTRING(RawData,447,6) end as CurrencyCode\n, case when SUBSTRING(RawData,454,10) = '' then null else SUBSTRING(RawData,454,10) end as CrewComplement1\n, case when SUBSTRING(RawData,465,10) = '' then null else SUBSTRING(RawData,465,10) end as CrewComplement2\n, case when SUBSTRING(RawData,476,10) = '' then null else SUBSTRING(RawData,476,10) end as CrewComplement3\n, case when SUBSTRING(RawData,487,10) = '' then null else SUBSTRING(RawData,487,10) end as CrewComplement4\n, case when SUBSTRING(RawData,498,10) = '' then null else SUBSTRING(RawData,498,10) end as CrewComplement5\n, case when SUBSTRING(RawData,509,10) = '' then null else SUBSTRING(RawData,509,10) end as CrewComplement6\n, case when SUBSTRING(RawData,520,10) = '' then null else SUBSTRING(RawData,520,10) end as CrewComplement7\n, case when SUBSTRING(RawData,531,10) = '' then null else SUBSTRING(RawData,531,10) end as CrewComplement8\n, case when SUBSTRING(RawData,542,10) = '' then null else SUBSTRING(RawData,542,10) end as CrewComplement9\n, case when SUBSTRING(RawData,553,10) = '' then null else SUBSTRING(RawData,553,10) end as CrewComplement10\n, case when SUBSTRING(RawData,564,10) = '' then null else SUBSTRING(RawData,564,10) end as CrewComplement11\n, case when SUBSTRING(RawData,575,10) = '' then null else SUBSTRING(RawData,575,10) end as CrewComplement12\n, case when SUBSTRING(RawData,586,10) = '' then null else SUBSTRING(RawData,586,10) end as CrewComplement13\n, case when SUBSTRING(RawData,597,10) = '' then null else SUBSTRING(RawData,597,10) end as CrewComplement14\n, case when SUBSTRING(RawData,608,10) = '' then null else SUBSTRING(RawData,608,10) end as CrewComplement15\n, case when SUBSTRING(RawData,619,10) = '' then null else SUBSTRING(RawData,619,10) end as CrewComplement16\n, case when SUBSTRING(RawData,630,10) = '' then null else SUBSTRING(RawData,630,10) end as CrewComplement17\n, case when SUBSTRING(RawData,641,10) = '' then null else SUBSTRING(RawData,641,10) end as CrewComplement18\n, case when SUBSTRING(RawData,652,10) = '' then null else SUBSTRING(RawData,652,10) end as CrewComplement19\n, case when SUBSTRING(RawData,663,10) = '' then null else SUBSTRING(RawData,663,10) end as CrewComplement20\n, case when SUBSTRING(RawData,674,10) = '' then null else SUBSTRING(RawData,674,10) end as CrewComplement21\n, case when SUBSTRING(RawData,685,10) = '' then null else SUBSTRING(RawData,685,10) end as CrewComplement22\n, case when SUBSTRING(RawData,696,10) = '' then null else SUBSTRING(RawData,696,10) end as CrewComplement23\n, case when SUBSTRING(RawData,707,10) = '' then null else SUBSTRING(RawData,707,10) end as CrewComplement24\n, case when SUBSTRING(RawData,718,10) = '' then null else SUBSTRING(RawData,718,10) end as CrewComplement25\n, case when SUBSTRING(RawData,729,10) = '' then null else SUBSTRING(RawData,729,10) end as CrewComplement26\n, case when SUBSTRING(RawData,740,10) = '' then null else SUBSTRING(RawData,740,10) end as CrewComplement27\n, case when SUBSTRING(RawData,751,10) = '' then null else SUBSTRING(RawData,751,10) end as CrewComplement28\n, case when SUBSTRING(RawData,762,10) = '' then null else SUBSTRING(RawData,762,10) end as CrewComplement29\n, case when SUBSTRING(RawData,773,10) = '' then null else SUBSTRING(RawData,773,10) end as CrewComplement30\n, case when SUBSTRING(RawData,784,10) = '' then null else SUBSTRING(RawData,784,10) end as CrewComplement31\n, case when SUBSTRING(RawData,795,10) = '' then null else SUBSTRING(RawData,795,10) end as CrewComplement32\n, case when SUBSTRING(RawData,806,10) = '' then null else SUBSTRING(RawData,806,10) end as CrewComplement33\n, case when SUBSTRING(RawData,817,10) = '' then null else SUBSTRING(RawData,817,10) end as CrewComplement34\n, case when SUBSTRING(RawData,828,10) = '' then null else SUBSTRING(RawData,828,10) end as CrewComplement35\n, case when SUBSTRING(RawData,839,10) = '' then null else SUBSTRING(RawData,839,10) end as CrewComplement36\n, case when SUBSTRING(RawData,850,10) = '' then null else SUBSTRING(RawData,850,10) end as CrewComplement37\n, case when SUBSTRING(RawData,861,10) = '' then null else SUBSTRING(RawData,861,10) end as CrewComplement38\n, case when SUBSTRING(RawData,872,10) = '' then null else SUBSTRING(RawData,872,10) end as CrewComplement39\n, case when SUBSTRING(RawData,883,10) = '' then null else SUBSTRING(RawData,883,10) end as CrewComplement40\n, case when SUBSTRING(RawData,894,10) = '' then null else SUBSTRING(RawData,894,10) end as Overfiles\n, case when SUBSTRING(RawData,905,2) = '' then null else SUBSTRING(RawData,905,2) end as OverfilesContryApis1\n, case when SUBSTRING(RawData,908,2) = '' then null else SUBSTRING(RawData,908,2) end as OverfilesContryApis2\n, case when SUBSTRING(RawData,911,2) = '' then null else SUBSTRING(RawData,911,2) end as OverfilesContryApis3\n, case when SUBSTRING(RawData,914,2) = '' then null else SUBSTRING(RawData,914,2) end as OverfilesContryApis4\n, case when SUBSTRING(RawData,917,1) = '' then null else SUBSTRING(RawData,917,1) end as SsimTrafficRestricitionCode1\n, case when SUBSTRING(RawData,919,1) = '' then null else SUBSTRING(RawData,919,1) end as SsimTrafficRestricitionCode2\n, case when SUBSTRING(RawData,921,6) = '' then null else SUBSTRING(RawData,921,6) end as MiscellaneousFlags\n, case when SUBSTRING(RawData,928,6) = '' then null else SUBSTRING(RawData,928,6) end as Modified_by\n\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfAims].[CityPairs_Stage]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AirportCode1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportCode1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AirportCode2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirportCode2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Category",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ReportingTimeCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReportingTimeCategory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NoTrafficRights",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NoTrafficRights",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes8",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes9",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes10",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes11",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunsetTimes12",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunsetTimes12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes8",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes9",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes10",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes11",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SunriseTimes12",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SunriseTimes12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AllowGeneraitonFerryFlights",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AllowGeneraitonFerryFlights",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DistanceUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DistanceUnit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DistanceBetweenAirports",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DistanceBetweenAirports",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitCabinType1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitCabinType1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ServiceTypeDayOfWeek1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ServiceTypeDayOfWeek1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IndeToCrewComplements1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndeToCrewComplements1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitCabinType2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitCabinType2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ServiceTypeDayOfWeek2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ServiceTypeDayOfWeek2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IndeToCrewComplements2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndeToCrewComplements2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitCabinType3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitCabinType3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ServiceTypeDayOfWeek3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ServiceTypeDayOfWeek3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IndeToCrewComplements3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndeToCrewComplements3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CockpitCabinType4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CockpitCabinType4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ServiceTypeDayOfWeek4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ServiceTypeDayOfWeek4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IndeToCrewComplements4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndeToCrewComplements4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IndexInTables1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndexInTables1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RelatedDistance1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RelatedDistance1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IndexInTables2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndexInTables2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RelatedDistance2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RelatedDistance2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IndexInTables3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndexInTables3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RelatedDistance3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RelatedDistance3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IndexInTables4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndexInTables4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RelatedDistance4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RelatedDistance4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FlatfeeType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlatfeeType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CurrencyCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CurrencyCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CrewComplement1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement8",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement9",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement10",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement11",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement12",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement13",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement14",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement15",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement16",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement16",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement17",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement17",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement18",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement18",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement19",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement19",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement20",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement20",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement21",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement21",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement22",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement22",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement23",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement23",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement24",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement24",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement25",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement25",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement26",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement26",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement27",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement27",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement28",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement28",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement29",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement29",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement30",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement30",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement31",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement31",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement32",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement32",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement33",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement33",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement34",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement34",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement35",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement35",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement36",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement36",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement37",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement37",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement38",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement38",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement39",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement39",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CrewComplement40",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewComplement40",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Overfiles",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Overfiles",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OverfilesContryApis1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OverfilesContryApis1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OverfilesContryApis2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OverfilesContryApis2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OverfilesContryApis3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OverfilesContryApis3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OverfilesContryApis4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OverfilesContryApis4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SsimTrafficRestricitionCode1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SsimTrafficRestricitionCode1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SsimTrafficRestricitionCode2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SsimTrafficRestricitionCode2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MiscellaneousFlags",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MiscellaneousFlags",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Modified_by",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ModifierUserID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Airports_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Citypairs",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy FlightCrew Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "14   CCAR   25112023AUH DXB  00:00 01:30                     CP D   00027268NIAZI Shamaila                SF D   00029843GHANEM Naser Osama            ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RawData",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "String"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Aims_FlightCrew",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "FlightCrew_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy FlightCrewFlights",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy FlightCrew Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT  case when SUBSTRING(RawData,1,4) = '' then null else SUBSTRING(RawData,1,4) end as FlightNumber\n, case when SUBSTRING(RawData,6,4) = '' then null else SUBSTRING(RawData,6,4) end as CarrierCodeICAO\n, case when SUBSTRING(RawData,11,1) = '' then null else SUBSTRING(RawData,11,1) end as FlightLegCode\n,cast(concat(SUBSTRING(RawData,17,4),SUBSTRING(RawData,15,2),SUBSTRING(RawData,13,2)) as date) as OperationDay\n, case when SUBSTRING(RawData,21,4) = '' then null else SUBSTRING(RawData,21,4) end as ArrivalStation\n, case when SUBSTRING(RawData,25,4) = '' then null else SUBSTRING(RawData,25,4) end as DepartureStation\n, cast(case when SUBSTRING(RawData,30,5) = '' then null else SUBSTRING(RawData,30,5) end as time) as ScheduledTimeOfDeparture\n, cast(case when SUBSTRING(RawData,36,5) = '' then null else SUBSTRING(RawData,36,5) end as time) as ScheduledTimeOfArrival\n, case when SUBSTRING(RawData,42,20) = '' then null else SUBSTRING(RawData,42,20) end as AircraftRegistrationID\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfAims].[FlightCrew_Stage]\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CarrierCodeICAO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CarrierCodeICAO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FlightLegCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightLegCode",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "OperationDay",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "OperationDay",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "DepartureStation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DepartureStation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ArrivalStation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArrivalStation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ScheduledTimeOfDeparture",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "ScheduledTimeOfDeparture",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "ScheduledTimeOfArrival",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "ScheduledTimeOfArrival",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "AircraftRegistrationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftRegistrationID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Airports_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "FlightCrewFlights",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy FlightCrewMembers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy FlightCrew Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select FlightCrewFlightID\n,substring(Names,1,2) as Position \n,substring(Names,4,1) as CrewPax \n,substring(Names,5,1) as Role \n,substring(Names,8,8) as ID \n,substring(Names,16,30) as Name \n,TFileName\n,TCreatedId\n,TLoadDate\nfrom (\nSELECT FlightCrewFlightID,Names, Crew, TFileName, TCreatedId ,TLoadDate from \n(select \nSUBSTRING(RawData,1,4) FlightCrewFlightID\n, SUBSTRING(RawData,62,45) as Name1\n, SUBSTRING(RawData,107,45) as Name2\n, SUBSTRING(RawData,152,45) as Name3\n, SUBSTRING(RawData,197,45) as Name4\n, SUBSTRING(RawData,242,45) as Name5\n, SUBSTRING(RawData,287,45) as Name6\n, SUBSTRING(RawData,332,45) as Name7\n, SUBSTRING(RawData,377,45) as Name8\n, SUBSTRING(RawData,422,45) as Name9\n, SUBSTRING(RawData,422,45) as Name10\n, SUBSTRING(RawData,467,45) as Name11\n, SUBSTRING(RawData,512,45) as Name12\n, SUBSTRING(RawData,557,45) as Name13\n, SUBSTRING(RawData,602,45) as Name14\n, SUBSTRING(RawData,647,45) as Name15\n, SUBSTRING(RawData,692,45) as Name16\n, SUBSTRING(RawData,737,45) as Name17\n, SUBSTRING(RawData,782,45) as Name18\n, SUBSTRING(RawData,827,45) as Name19\n, SUBSTRING(RawData,872,45) as Name20\n,TFileName\n,TCreatedId\n,TLoadDate\n FROM [BcAdfAims].[FlightCrew_Stage]\n ) p\nUNPIVOT\n    (Names for Crew in \n        (Name1,Name2,Name3,Name4,Name5,Name6,Name7,Name8,Name9,Name10,\n        Name11,Name12,Name13,Name14,Name15,Name16,Name17,Name18,Name19,Name20) ) as unpvt\n) final\nwhere substring(Names,16,30) <>''",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightCrewFlightID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightCrewFlightID",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Position",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Position",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Role",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Role",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "CrewPax",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CrewPax",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Airports_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "FlightCrewMembers",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"v_loaddate": {
				"type": "String"
			},
			"v_createdid": {
				"type": "String"
			}
		},
		"annotations": []
	}
}