pipeline/PL_AIMS.json
{
	"name": "PL_AIMS",
	"properties": {
		"activities": [
			{
				"name": "Copy_FlightDelays_Stage",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.FlightDelaysInputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.FlightDelaysInputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "CarrierIndex",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "FlightNumber",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "FlightNumberSuffix",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"name": "OperationDay",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"name": "ScheduledTimeOfDeparture",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"name": "ScheduledTimeOfDepartureTime",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 8
								},
								"sink": {
									"name": "DepartureStation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"name": "ScheduledTimeOfArrival",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"name": "ArrivalStation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"name": "DelayCodeIndex1",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"name": "DelayCodeIndex2",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"name": "DelayCodeIndex3",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 14
								},
								"sink": {
									"name": "DelayCodeIndex4",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 15
								},
								"sink": {
									"name": "DelayCodeIndex5",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 16
								},
								"sink": {
									"name": "DelayCodeIndex6",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 17
								},
								"sink": {
									"name": "DelayCodeIndex7",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 18
								},
								"sink": {
									"name": "DelayCodeIndex8",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 19
								},
								"sink": {
									"name": "DelayCodeIndex9",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 20
								},
								"sink": {
									"name": "DelayCodeIndex10",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 21
								},
								"sink": {
									"name": "DelayTime1",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 22
								},
								"sink": {
									"name": "DelayTime2",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 23
								},
								"sink": {
									"name": "DelayTime3",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 24
								},
								"sink": {
									"name": "DelayTime4",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 25
								},
								"sink": {
									"name": "DelayTime5",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 26
								},
								"sink": {
									"name": "DelayTime6",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 27
								},
								"sink": {
									"name": "DelayTime7",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 28
								},
								"sink": {
									"name": "DelayTime8",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 29
								},
								"sink": {
									"name": "DelayTime9",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 30
								},
								"sink": {
									"name": "DelayTime10",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 31
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT1",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 32
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT2",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 33
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT3",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 34
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT4",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 35
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT5",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 36
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT6",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 37
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT7",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 38
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT8",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 39
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT9",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 40
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT10",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 41
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE1",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 42
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE2",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 43
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE3",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 44
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE4",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 45
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE5",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 46
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE6",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 47
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE7",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 48
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE8",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 49
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE9",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 50
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE10",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 51
								},
								"sink": {
									"name": "DelayTimeVOYAGE1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 52
								},
								"sink": {
									"name": "DelayTimeVOYAGE2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 53
								},
								"sink": {
									"name": "DelayTimeVOYAGE3",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 54
								},
								"sink": {
									"name": "DelayTimeVOYAGE4",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 55
								},
								"sink": {
									"name": "DelayTimeVOYAGE5",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 56
								},
								"sink": {
									"name": "DelayTimeVOYAGE6",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 57
								},
								"sink": {
									"name": "DelayTimeVOYAGE7",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 58
								},
								"sink": {
									"name": "DelayTimeVOYAGE8",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 59
								},
								"sink": {
									"name": "DelayTimeVOYAGE9",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 60
								},
								"sink": {
									"name": "DelayTimeVOYAGE10",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 61
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE1",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 62
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE2",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 63
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE3",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 64
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE4",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 65
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE5",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 66
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE6",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 67
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE7",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 68
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE8",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 69
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE9",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 70
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE10",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "String"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AIMS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightDelays_Stage"
						}
					}
				]
			},
			{
				"name": "Set createdid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_createdid",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set loaddate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_loaddate",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Delete_FlightDelays_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Delete_FlightSchedule_MST_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Delete_FlightSlot_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "created_id",
							"value": {
								"type": "Expression",
								"content": "@variables('created_id')"
							}
						},
						{
							"key": "load_date",
							"value": {
								"type": "Expression",
								"content": "@variables('v_loaddate')"
							}
						},
						{
							"key": "log_output",
							"value": {
								"type": "Expression",
								"content": "@json(\nconcat(\n'[{\n    \"table_name\":\"BcAdfAims.FlightDelays\",\n    \"result\": \"',activity('Copy_FlightDelays').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_FlightDelays').output.executionDetails[0].status,'Succeeded'),activity('Copy_FlightDelays').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfAims.FlightSchedule_MST\",\n    \"result\": \"',activity('Copy_FlightSchedule_MST').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_FlightSchedule_MST').output.executionDetails[0].status,'Succeeded'),activity('Copy_FlightSchedule_MST').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfAims.FlightSlot\",\n    \"result\": \"',activity('Copy_FlightSlot').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_FlightSlot').output.executionDetails[0].status,'Succeeded'),activity('Copy_FlightSlot').output.rowsCopied,0),'\n}]\n'))"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Wait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set createdid",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set loaddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Copy_FlightDelays",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy_FlightDelays_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT [AircraftRegistrationId]\n,[CarrierIndex]\n,[FlightNumber]\n,[FlightNumberSuffix]\n,[OperationDay]\n,convert(datetime,concat(substring(ScheduledTimeOfDeparture,1,2),'/',substring(ScheduledTimeOfDeparture,3,2),'/',SUBSTRING(ScheduledTimeOfDeparture,5,4),' ',ScheduledTimeOfDepartureTime),103) as [ScheduledTimeOfDeparture]\n,[DepartureStation]\n,[ScheduledTimeOfArrival]\n,[ArrivalStation]\n,null as FlightServiceType\n,[DelayCodeIndex1]\n,[DelayCodeIndex2]\n,[DelayCodeIndex3]\n,[DelayCodeIndex4]\n,[DelayCodeIndex5]\n,[DelayCodeIndex6]\n,[DelayCodeIndex7]\n,[DelayCodeIndex8]\n,[DelayCodeIndex9]\n,[DelayCodeIndex10]\n,DATEDIFF(SECOND,0,[DelayTime1]) as [DelayTime1]\n,DATEDIFF(SECOND,0,[DelayTime2]) as [DelayTime2]\n,DATEDIFF(SECOND,0,[DelayTime3]) as [DelayTime3]\n,DATEDIFF(SECOND,0,[DelayTime4]) as [DelayTime4]\n,DATEDIFF(SECOND,0,[DelayTime5]) as [DelayTime5]\n,DATEDIFF(SECOND,0,[DelayTime6]) as [DelayTime6]\n,DATEDIFF(SECOND,0,[DelayTime7]) as [DelayTime7]\n,DATEDIFF(SECOND,0,[DelayTime8]) as [DelayTime8]\n,DATEDIFF(SECOND,0,[DelayTime9]) as [DelayTime9]\n,DATEDIFF(SECOND,0,[DelayTime10]) as [DelayTime10]\n,[SubDelayCodeIndexMVT1]\n,[SubDelayCodeIndexMVT2]\n,[SubDelayCodeIndexMVT3]\n,[SubDelayCodeIndexMVT4]\n,[SubDelayCodeIndexMVT5]\n,[SubDelayCodeIndexMVT6]\n,[SubDelayCodeIndexMVT7]\n,[SubDelayCodeIndexMVT8]\n,[SubDelayCodeIndexMVT9]\n,[SubDelayCodeIndexMVT10]\n,[DelayCodeIndexVOYAGE1]\n,[DelayCodeIndexVOYAGE2]\n,[DelayCodeIndexVOYAGE3]\n,[DelayCodeIndexVOYAGE4]\n,[DelayCodeIndexVOYAGE5]\n,[DelayCodeIndexVOYAGE6]\n,[DelayCodeIndexVOYAGE7]\n,[DelayCodeIndexVOYAGE8]\n,[DelayCodeIndexVOYAGE9]\n,[DelayCodeIndexVOYAGE10]\n,[DelayTimeVOYAGE1]\n,[DelayTimeVOYAGE2]\n,[DelayTimeVOYAGE3]\n,[DelayTimeVOYAGE4]\n,[DelayTimeVOYAGE5]\n,[DelayTimeVOYAGE6]\n,[DelayTimeVOYAGE7]\n,[DelayTimeVOYAGE8]\n,[DelayTimeVOYAGE9]\n,[DelayTimeVOYAGE10]\n,[SubDelayCodeIndexVOYAGE1]\n,[SubDelayCodeIndexVOYAGE2]\n,[SubDelayCodeIndexVOYAGE3]\n,[SubDelayCodeIndexVOYAGE4]\n,[SubDelayCodeIndexVOYAGE5]\n,[SubDelayCodeIndexVOYAGE6]\n,[SubDelayCodeIndexVOYAGE7]\n,[SubDelayCodeIndexVOYAGE8]\n,[SubDelayCodeIndexVOYAGE9]\n,[SubDelayCodeIndexVOYAGE10]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfAims].[FlightDelays_Stage]\n where tfilename = '@{pipeline().parameters.FlightDelaysInputFileName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CarrierIndex",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "CarrierIndex",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "FlightNumber",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FlightNumber",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FlightNumberSuffix",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightNumberSuffix",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OperationDay",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "OperationDay",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "ScheduledTimeOfDeparture",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ScheduledTimeOfDeparture",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "DepartureStation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DepartureStation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ScheduledTimeOfArrival",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "ScheduledTimeOfArrival",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "ArrivalStation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArrivalStation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FlightServiceType",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FlightServiceType",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex1",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex1",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex2",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex2",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex3",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex3",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex4",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex4",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex5",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex5",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex6",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex6",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex7",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex7",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex8",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex8",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex9",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex9",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndex10",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndex10",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayTime1",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime1",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "DelayTime2",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime2",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "DelayTime3",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime3",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "DelayTime4",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime4",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "DelayTime5",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime5",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "DelayTime6",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime6",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "DelayTime7",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime7",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "DelayTime8",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime8",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "DelayTime9",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime9",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "DelayTime10",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "DelayTime10",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT1",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT1",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT2",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT2",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT3",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT3",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT4",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT4",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT5",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT5",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT6",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT6",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT7",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT7",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT8",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT8",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT9",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT9",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexMVT10",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexMVT10",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE1",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE1",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE2",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE2",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE3",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE3",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE4",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE4",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE5",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE5",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE6",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE6",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE7",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE7",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE8",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE8",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE9",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE9",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayCodeIndexVOYAGE10",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "DelayCodeIndexVOYAGE10",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE2",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE3",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE4",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE4",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE5",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE5",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE6",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE6",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE7",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE7",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE8",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE8",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE9",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE9",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DelayTimeVOYAGE10",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DelayTimeVOYAGE10",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE1",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE1",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE2",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE2",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE3",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE3",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE4",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE4",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE5",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE5",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE6",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE6",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE7",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE7",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE8",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE8",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE9",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE9",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SubDelayCodeIndexVOYAGE10",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SubDelayCodeIndexVOYAGE10",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightDelays_Stage"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightDelays"
						}
					}
				]
			},
			{
				"name": "Delete_FlightDelays_Stage",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy_FlightDelays",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('delete FROM [BcAdfAims].[FlightDelays_Stage]\nwhere tfilename = ''',pipeline().parameters.FlightDelaysInputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy_FlightSchedule_MST_Stage",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.FlightSchedule_MSTInputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "RawData",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "String"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AIMS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightSchedule_MST_Stage"
						}
					}
				]
			},
			{
				"name": "Copy_FlightSchedule_MST",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy_FlightSchedule_MST_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT SUBSTRING(RawData,1,6) as CarrierIndex\n,SUBSTRING(RawData,7,7) as FlightNumber\n,case when trim(SUBSTRING(RawData,14,2)) = '' then null else SUBSTRING(RawData,14,2) end as FlightLegCode\n,SUBSTRING(RawData,16,4) as DepartureStation\n,SUBSTRING(RawData,20,5) as ArrivalStation\n,convert(date,SUBSTRING(RawData,25,11),103) as OperationDay\n,SUBSTRING(RawData,36,7) as ScheduledTimeOfDeparture\n,SUBSTRING(RawData,43,6) as ScheduledTimeOfArrival\n,convert(date,SUBSTRING(RawData,49,10),103) as EstimatedDepartureDay\n,case when trim(SUBSTRING(RawData,59,7)) = '' then null else SUBSTRING(RawData,59,7) end as EstimatedTimeOfDeparture\n,case when trim(SUBSTRING(RawData,66,7)) = '' then null else SUBSTRING(RawData,66,7) end as EstimatedTimeOfArrival\n,case when trim(SUBSTRING(RawData,73,7)) = '' then null else SUBSTRING(RawData,73,7) end as ATDBlockOffTimeBasedOnSITAMVT\n,case when trim(SUBSTRING(RawData,80,7)) = '' then null else SUBSTRING(RawData,80,7) end as TakeOffTimeBasedOnSITAMVT\n,case when trim(SUBSTRING(RawData,87,7)) = '' then null else SUBSTRING(RawData,87,7) end as TouchDownTimeBasedOnSITAMVT\n,case when trim(SUBSTRING(RawData,96,8)) = '' then null else SUBSTRING(RawData,96,8) end as ATABlockOnTimeBasedOnSITAMVT\n,SUBSTRING(RawData,102,7) as ExpectedPassengers\n,SUBSTRING(RawData,109,7) as TotalFlightPassengers1\n,SUBSTRING(RawData,116,7) as TotalFlightPassengers5\n,SUBSTRING(RawData,123,5) as AircraftTypeIndex\n,SUBSTRING(RawData,128,11) as AircraftRegistrationID\n,SUBSTRING(RawData,139,7) as FlightServiceType\n,SUBSTRING(RawData,146,5) as AircraftRouteNumber\n,convert(date,SUBSTRING(RawData,151,15),103) as AircraftRouteStartingDate\n,SUBSTRING(RawData,166,7) as FlightStatus\n,convert(date,SUBSTRING(RawData,173,11),103) as OriginalDepartureDayOfRescheduledAC\n,SUBSTRING(RawData,195,9) as OriginalDepartureSTDOfRescheduledAC\n,SUBSTRING(RawData,204,7) as RescheduledACRegistration\n,case when trim(SUBSTRING(RawData,211,7)) = '' then null else SUBSTRING(RawData,211,7) end as OriginalSTAOfRescheduledACleg\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\nFROM [BcAdfAims].[FlightSchedule_MST_Stage]\n where tfilename = '@{pipeline().parameters.FlightSchedule_MSTInputFileName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CarrierIndex",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CarrierIndex",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FlightNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightNumber",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FlightLegCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightLegCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DepartureStation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DepartureStation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ArrivalStation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArrivalStation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OperationDay",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "OperationDay",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ScheduledTimeOfDeparture",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ScheduledTimeOfDeparture",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ScheduledTimeOfArrival",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ScheduledTimeOfArrival",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "EstimatedDepartureDay",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "EstimatedDepartureDay",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "EstimatedTimeOfDeparture",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EstimatedTimeOfDeparture",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "EstimatedTimeOfArrival",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EstimatedTimeOfArrival",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ATDBlockOffTimeBasedOnSITAMVT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ATDBlockOffTimeBasedOnSITAMVT",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TakeOffTimeBasedOnSITAMVT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TakeOffTimeBasedOnSITAMVT",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TouchDownTimeBasedOnSITAMVT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TouchDownTimeBasedOnSITAMVT",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ATABlockOnTimeBasedOnSITAMVT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ATABlockOnTimeBasedOnSITAMVT",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ExpectedPassengers",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ExpectedPassengers",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TotalFlightPassengers1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TotalFlightPassengers1",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TotalFlightPassengers5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TotalFlightPassengers5",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AircraftTypeIndex",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftTypeIndex",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AircraftRegistrationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftRegistrationID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FlightServiceType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightServiceType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AircraftRouteNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftRouteNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AircraftRouteStartingDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "AircraftRouteStartingDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "FlightStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OriginalDepartureDayOfRescheduledAC",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "OriginalDepartureDayOfRescheduledAC",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "OriginalDepartureSTDOfRescheduledAC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OriginalDepartureSTDOfRescheduledAC",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RescheduledACRegistration",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RescheduledACRegistration",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OriginalSTAOfRescheduledACleg",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OriginalSTAOfRescheduledACleg",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightSchedule_MST_Stage"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightSchedule_MST"
						}
					}
				]
			},
			{
				"name": "Delete_FlightSchedule_MST_Stage",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy_FlightSchedule_MST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('delete FROM [BcAdfAims].[FlightSchedule_MST_Stage]\nwhere tfilename = ''',pipeline().parameters.FlightSchedule_MSTInputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy_FlightSlot_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.FlightSlotInputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "RawData",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "String"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AIMS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightSlot_Stage"
						}
					}
				]
			},
			{
				"name": "Copy_FlightSlot",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_FlightSlot_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT \nSUBSTRING(RawData,50,6) as AircraftRegistrationId\n,SUBSTRING(RawData,1,6) as CarrierID\n,SUBSTRING(RawData,7,7) as FlightNumber\n,convert(date,SUBSTRING(RawData,25,10),103) as OperationDay\n,SUBSTRING(RawData,17,4) as DepartureStation\n,SUBSTRING(RawData,21,4) as ArrivalStation\n,SUBSTRING(RawData,62,7) as SlotTime\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n,null as FlightNumberSuffix\n,convert(date,null,103) as ScheduledTimeOfDeparture\n,null as ScheduledTimeOfDepartureField\n,convert(date,null,103) as EstimatedTimeOfDeparture\n,null as EstimatedTimeOfDepartureField\n,null as SlotTimeField\nFROM [BcAdfAims].[FlightSlot_Stage]\nwhere tfilename = '@{pipeline().parameters.FlightSlotInputFileName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftRegistrationId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CarrierID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CarrierID",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "FlightNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightNumber",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FlightNumberSuffix",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FlightNumberSuffix",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OperationDay",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "OperationDay",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ScheduledTimeOfDeparture",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ScheduledTimeOfDeparture",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "ScheduledTimeOfDepartureField",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ScheduledTimeOfDepartureField",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DepartureStation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DepartureStation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ArrivalStation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ArrivalStation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EstimatedTimeOfDeparture",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "EstimatedTimeOfDeparture",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "EstimatedTimeOfDepartureField",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "EstimatedTimeOfDepartureField",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SlotTime",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SlotTime",
									"type": "TimeSpan",
									"physicalType": "time"
								}
							},
							{
								"source": {
									"name": "SlotTimeField",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SlotTimeField",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightSlot_Stage"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfAims",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "FlightSlot"
						}
					}
				]
			},
			{
				"name": "Delete_FlightSlot_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_FlightSlot",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('delete FROM [BcAdfAims].[FlightSlot_Stage]\nwhere tfilename = ''',pipeline().parameters.FlightSlotInputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"FlightDelaysInputFileName": {
				"type": "string",
				"defaultValue": "Delays.txt_2023-11-28T094119+0100.txt"
			},
			"FlightSchedule_MSTInputFileName": {
				"type": "string",
				"defaultValue": "FlightSchedule_MST_2023-11-28T094029+0100.txt"
			},
			"FlightSlotInputFileName": {
				"type": "string",
				"defaultValue": "FlightSlot_2023-11-28T094605+0100.txt"
			}
		},
		"variables": {
			"v_createdid": {
				"type": "String"
			},
			"v_loaddate": {
				"type": "String"
			},
			"created_id": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-30T14:48:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}