pipeline/PL_FLIGHTPLAN_new.json
{
	"name": "PL_FLIGHTPLAN_new",
	"properties": {
		"activities": [
			{
				"name": "Copy_OFP_FlightPlanSummary_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['ScheduledTimeOfArrival']"
								},
								"sink": {
									"name": "ScheduledTimeOfArrival",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OutTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "OutTimeEstimatedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OutTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "OutTimeEstimatedCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OutTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "OutTimeEstimatedCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OutTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "OutTimeActualValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OutTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "OutTimeActualCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OutTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "OutTimeActualCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OffTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "OffTimeEstimatedCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OffTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "OffTimeEstimatedCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OffTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "OffTimeActualValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OffTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "OffTimeActualCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OffTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "OffTimeActualCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OffTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "OffTimeEstimatedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OnTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "OnTimeEstimatedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OnTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "OnTimeEstimatedCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OnTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "OnTimeEstimatedCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OnTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "OnTimeActualValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OnTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "OnTimeActualCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['OnTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "OnTimeActualCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['InTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "InTimeEstimatedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['InTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "InTimeEstimatedCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['InTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "InTimeEstimatedCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['InTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "InTimeActualValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['InTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "InTimeActualCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['InTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "InTimeActualCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['BlockTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "BlockTimeEstimatedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['BlockTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "BlockTimeEstimatedCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['BlockTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "BlockTimeEstimatedCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['BlockTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "BlockTimeActualValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['BlockTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "BlockTimeActualCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['BlockTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "BlockTimeActualCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiOutTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "TaxiOutTimeEstimatedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiOutTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TaxiOutTimeEstimatedCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiOutTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TaxiOutTimeEstimatedCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiOutTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "TaxiOutTimeActualValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiOutTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TaxiOutTimeActualCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiOutTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TaxiOutTimeActualCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['FlightTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "FlightTimeEstimatedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['FlightTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FlightTimeEstimatedCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['FlightTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FlightTimeEstimatedCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['FlightTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "FlightTimeActualValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['FlightTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FlightTimeActualCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['FlightTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FlightTimeActualCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiInTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "TaxiInTimeEstimatedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiInTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TaxiInTimeEstimatedCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiInTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TaxiInTimeEstimatedCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiInTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "TaxiInTimeActualValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiInTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TaxiInTimeActualCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['TaxiInTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TaxiInTimeActualCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['CTOT']['Value']"
								},
								"sink": {
									"name": "CTOTValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['CTOT']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CTOTCorrectedValue",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['CTOT']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CTOTCorrectedSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine1']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelUsedEngine1Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine1']['Value']"
								},
								"sink": {
									"name": "FuelUsedEngine1Value",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine1']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelUsedEngine1CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine1']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelUsedEngine1CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine1']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelUsedEngine1CorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine2']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelUsedEngine2Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine2']['Value']"
								},
								"sink": {
									"name": "FuelUsedEngine2Value",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine2']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelUsedEngine2CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine2']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelUsedEngine2CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine2']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelUsedEngine2CorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine3']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelUsedEngine3Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine3']['Value']"
								},
								"sink": {
									"name": "FuelUsedEngine3Value",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine3']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelUsedEngine3CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine3']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelUsedEngine3CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine3']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelUsedEngine3CorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine4']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelUsedEngine4Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine4']['Value']"
								},
								"sink": {
									"name": "FuelUsedEngine4Value",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine4']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelUsedEngine4CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine4']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelUsedEngine4CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanSummary']['EngineFuel']['FuelUsedEngine4']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelUsedEngine4CorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfLido",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "OFP_FlightPlanSummary_Stage"
						}
					}
				]
			},
			{
				"name": "Copy_OFP_FlightPlanHeader",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AuthorInformation']['AuthorName']['@authorType']"
								},
								"sink": {
									"name": "AuthorType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AuthorInformation']['AuthorName']['_value_']"
								},
								"sink": {
									"name": "AuthorName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AuthorInformation']['AuthorContact']['PhoneNumber']"
								},
								"sink": {
									"name": "AuthorContactPhoneNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AuthorInformation']['AuthorContact']['TelexAddress']"
								},
								"sink": {
									"name": "AuthorContactTelexAddress",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AuthorInformation']['AuthorContact']['FaxNumber']"
								},
								"sink": {
									"name": "AuthorContactFaxNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AuthorInformation']['AuthorContact']['EmailAddress']"
								},
								"sink": {
									"name": "AuthorContactEmailAddress",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AuthorInformation']['AuthorContact']['DispatchOffice']"
								},
								"sink": {
									"name": "AuthorContactDispatchOffice",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['PerformanceFactor']"
								},
								"sink": {
									"name": "PerformanceFactor",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AverageFuelFlow']['Value']['@unit']"
								},
								"sink": {
									"name": "AverageFuelFlowUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AverageFuelFlow']['Value']['_value_']"
								},
								"sink": {
									"name": "AverageFuelFlowValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AverageFuelFlow']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AverageFuelFlowCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AverageFuelFlow']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AverageFuelFlowCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['AverageFuelFlow']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AverageFuelFlowCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['TaxiFuelFlow']['Value']['@unit']"
								},
								"sink": {
									"name": "TaxiFuelFlowUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['TaxiFuelFlow']['Value']['_value_']"
								},
								"sink": {
									"name": "TaxiFuelFlowValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['TaxiFuelFlow']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "TaxiFuelFlowCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['TaxiFuelFlow']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TaxiFuelFlowCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['TaxiFuelFlow']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TaxiFuelFlowCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['HoldingFuelFlow']['Value']['@unit']"
								},
								"sink": {
									"name": "HoldingFuelFlowUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['HoldingFuelFlow']['Value']['_value_']"
								},
								"sink": {
									"name": "HoldingFuelFlowValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['HoldingFuelFlow']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "HoldingFuelFlowCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['HoldingFuelFlow']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "HoldingFuelFlowCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['FuelFlowInformation']['HoldingFuelFlow']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "HoldingFuelFlowCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['@routeName']"
								},
								"sink": {
									"name": "RouteName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['@optimization']"
								},
								"sink": {
									"name": "Optimization",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['@fMSRouteName']"
								},
								"sink": {
									"name": "fMSRouteName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Direction']['Value']['@type']"
								},
								"sink": {
									"name": "AverageWindDirectionType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Direction']['Value']['@unit']"
								},
								"sink": {
									"name": "AverageWindDirectionUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Direction']['Value']['_value_']"
								},
								"sink": {
									"name": "AverageWindDirectionValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Direction']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AverageWindCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Direction']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AverageWindCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Direction']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AverageWindCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Direction']['CorrectedValue']['@type']"
								},
								"sink": {
									"name": "AverageWindCorrectedValueType",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Speed']['Value']['@unit']"
								},
								"sink": {
									"name": "AverageWindSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Speed']['Value']['_value_']"
								},
								"sink": {
									"name": "AverageWindSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Speed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AverageWindSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Speed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AverageWindSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWind']['Speed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AverageWindSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWindComponent']['Value']['@unit']"
								},
								"sink": {
									"name": "AverageWindComponentUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWindComponent']['Value']['_value_']"
								},
								"sink": {
									"name": "AverageWindComponentValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWindComponent']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AverageWindComponentCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWindComponent']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AverageWindComponentCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageWindComponent']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AverageWindComponentCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageTemperature']['Value']['@unit']"
								},
								"sink": {
									"name": "AverageTemperatureUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageTemperature']['Value']['_value_']"
								},
								"sink": {
									"name": "AverageTemperatureValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageTemperature']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AverageTemperatureCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageTemperature']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AverageTemperatureCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageTemperature']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AverageTemperatureCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageISADeviation']['Value']['@unit']"
								},
								"sink": {
									"name": "AverageISADeviationUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageISADeviation']['Value']['_value_']"
								},
								"sink": {
									"name": "AverageISADeviationValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageISADeviation']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AverageISADeviationCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageISADeviation']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AverageISADeviationCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AverageISADeviation']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AverageISADeviationCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['InitialAltitude']['Value']['@unit']"
								},
								"sink": {
									"name": "InitialAltitudeUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['InitialAltitude']['Value']['_value_']"
								},
								"sink": {
									"name": "InitialAltitudeValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['InitialAltitude']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "InitialAltitudeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['InitialAltitude']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "InitialAltitudeCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['InitialAltitude']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "InitialAltitudeCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['CostIndex']['Value']"
								},
								"sink": {
									"name": "ClimbProcedureCostIndexValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['CostIndex']['Value']['@unit']"
								},
								"sink": {
									"name": "ClimbProcedureCostIndexUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['CostIndex']['CorrectedValue']"
								},
								"sink": {
									"name": "ClimbProcedureCostIndexCorrectedValue",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['@procedure']"
								},
								"sink": {
									"name": "ClimbProcedure",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['MachNumber']['Value']"
								},
								"sink": {
									"name": "ClimbProcedureMachNumberValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['MachNumber']['CorrectedValue']"
								},
								"sink": {
									"name": "ClimbProcedureMachNumberCorrectedValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['IndicatedAirSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "ClimbProcedureIndicatedAirSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['IndicatedAirSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "ClimbProcedureIndicatedAirSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['IndicatedAirSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "ClimbProcedureIndicatedAirSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['IndicatedAirSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "ClimbProcedureIndicatedAirSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['IndicatedAirSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "ClimbProcedureIndicatedAirSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['TrueAirSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "ClimbProcedureTrueAirSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['TrueAirSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "ClimbProcedureTrueAirSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['TrueAirSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "ClimbProcedureTrueAirSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['TrueAirSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "ClimbProcedureTrueAirSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['ClimbProcedure']['TrueAirSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "ClimbProcedureTrueAirSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['CostIndex']['Value']"
								},
								"sink": {
									"name": "CruiseProcedureCostIndexValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['CostIndex']['Value']['@unit']"
								},
								"sink": {
									"name": "CruiseProcedureCostIndexUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['CostIndex']['CorrectedValue']"
								},
								"sink": {
									"name": "CruiseProcedureCostIndexCorrectedValue",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['@procedure']"
								},
								"sink": {
									"name": "CruiseProcedure",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['MachNumber']['Value']"
								},
								"sink": {
									"name": "CruiseProcedureMachNumberValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['MachNumber']['CorrectedValue']"
								},
								"sink": {
									"name": "CruiseProcedureMachNumberCorrectedValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['IndicatedAirSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CruiseProcedureIndicatedAirSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['IndicatedAirSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CruiseProcedureIndicatedAirSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['IndicatedAirSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CruiseProcedureIndicatedAirSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['IndicatedAirSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "CruiseProcedureIndicatedAirSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['IndicatedAirSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "CruiseProcedureIndicatedAirSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['TrueAirSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "CruiseProcedureTrueAirSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['TrueAirSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "CruiseProcedureTrueAirSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['TrueAirSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CruiseProcedureTrueAirSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['TrueAirSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CruiseProcedureTrueAirSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['CruiseProcedure']['TrueAirSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CruiseProcedureTrueAirSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['CostIndex']['Value']"
								},
								"sink": {
									"name": "DescentProcedureCostIndexValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['CostIndex']['Value']['@unit']"
								},
								"sink": {
									"name": "DescentProcedureCostIndexUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['CostIndex']['CorrectedValue']"
								},
								"sink": {
									"name": "DescentProcedureCostIndexCorrectedValue",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['MachNumber']['Value']"
								},
								"sink": {
									"name": "DescentProcedureMachNumberValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['MachNumber']['CorrectedValue']"
								},
								"sink": {
									"name": "DescentProcedureMachNumberCorrectedValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['IndicatedAirSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "DescentProcedureIndicatedAirSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['IndicatedAirSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "DescentProcedureIndicatedAirSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['IndicatedAirSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "DescentProcedureIndicatedAirSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['IndicatedAirSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "DescentProcedureIndicatedAirSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['IndicatedAirSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "DescentProcedureIndicatedAirSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['TrueAirSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "DescentProcedureTrueAirSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['TrueAirSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "DescentProcedureTrueAirSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['TrueAirSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "DescentProcedureTrueAirSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['TrueAirSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "DescentProcedureTrueAirSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['TrueAirSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "DescentProcedureTrueAirSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['DescentProcedure']['@procedure']"
								},
								"sink": {
									"name": "DescentProcedure",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['GroundDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "GroundDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['GroundDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "GroundDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['GroundDistance']['CorrectedValue']"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['GroundDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['GroundDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AirDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "AirDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AirDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "AirDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AirDistance']['CorrectedValue']"
								},
								"sink": {
									"name": "AirDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AirDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AirDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['AirDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AirDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['GreatCircleDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "GreatCircleDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['GreatCircleDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "GreatCircleDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['GreatCircleDistance']['CorrectedValue']"
								},
								"sink": {
									"name": "GreatCircleDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['GreatCircleDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "GreatCircleDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['GreatCircleDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "GreatCircleDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightPlanHeader']['RouteInformation']['RouteDescription']"
								},
								"sink": {
									"name": "RouteDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfLido",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "OFP_FlightPlanHeader"
						}
					}
				]
			},
			{
				"name": "Copy_OFP_FlightPlan_Remark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@remarkType']"
								},
								"sink": {
									"name": "RemarkType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Paragraph']['@sequence']"
								},
								"sink": {
									"name": "Sequence",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['Paragraph']['Text']"
								},
								"sink": {
									"name": "Text",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Remarks']['Remark']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfLido",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "OFP_FlightPlan_Remark"
						}
					}
				]
			},
			{
				"name": "Copy_OFP_FlightPlan",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['FlightPlan']['M633Header']['@timestamp']"
								},
								"sink": {
									"name": "HeaderTimestamp",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633Header']['@versionNumber']"
								},
								"sink": {
									"name": "HeaderVersionNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['FlightIdentification']['FlightIdentifier']"
								},
								"sink": {
									"name": "FlightIdentifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['FlightIdentification']['FlightNumber']['CommercialFlightNumber']"
								},
								"sink": {
									"name": "CommercialFlightNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['FlightIdentification']['FlightNumber']['@airlineIATACode']"
								},
								"sink": {
									"name": "AirlineIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['FlightIdentification']['FlightNumber']['@number']"
								},
								"sink": {
									"name": "FlightNumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['FlightIdentification']['operationalSuffix']"
								},
								"sink": {
									"name": "OperationalSuffix",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['DepartureAirport']['AirportICAOCode']"
								},
								"sink": {
									"name": "DepartureAirportICAOCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['DepartureAirport']['AirportIATACode']"
								},
								"sink": {
									"name": "DepartureAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['DepartureAirport']['@airportFunction']"
								},
								"sink": {
									"name": "DepartureAirportFunction",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['DepartureAirport']['@airportName']"
								},
								"sink": {
									"name": "DepartureAirportName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['ArrivalAirport']['AirportICAOCode']"
								},
								"sink": {
									"name": "ArrivalAirportICAOCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['ArrivalAirport']['AirportIATACode']"
								},
								"sink": {
									"name": "ArrivalAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['ArrivalAirport']['@airportFunction']"
								},
								"sink": {
									"name": "ArrivalAirportFunction",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['ArrivalAirport']['@airportName']"
								},
								"sink": {
									"name": "ArrivalAirportName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['@flightOriginDate']"
								},
								"sink": {
									"name": "FlightOriginDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Flight']['@scheduledTimeOfDeparture']"
								},
								"sink": {
									"name": "ScheduledTimeOfDeparture",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Aircraft']['AircraftModel']['AircraftICAOType']"
								},
								"sink": {
									"name": "AircraftICAOType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Aircraft']['AircraftModel']['@airlineSpecificSubType']"
								},
								"sink": {
									"name": "AircraftAirlineSpecificSubType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['M633SupplementaryHeader']['Aircraft']['@aircraftRegistration']"
								},
								"sink": {
									"name": "AircraftRegistration",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightInfo']['@aTCCallsign']"
								},
								"sink": {
									"name": "ATCCallsign",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['FlightInfo']['@captain']"
								},
								"sink": {
									"name": "Captain",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@category']"
								},
								"sink": {
									"name": "Category",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@computedTime']"
								},
								"sink": {
									"name": "ComputedTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@linkedFlightPlan']"
								},
								"sink": {
									"name": "LinkedFlightPlan",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['@cancelsId']"
								},
								"sink": {
									"name": "CancelsId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfLido",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "OFP_FlightPlan"
						}
					}
				]
			},
			{
				"name": "Set createid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_createdid",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set loaddate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_loaddate",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy_OFP_FlightPlan",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy_OFP_FlightPlan_Remark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy_OFP_FlightPlanHeader",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Delete_OFP_FlightPlanSummary_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "created_id",
							"value": {
								"type": "Expression",
								"content": "@variables('v_createdid')"
							}
						},
						{
							"key": "load_date",
							"value": {
								"type": "Expression",
								"content": "@variables('v_loaddate')"
							}
						},
						{
							"key": "log_output",
							"value": {
								"type": "Expression",
								"content": "@json(\nconcat(\n'[{\n    \"table_name\":\"BcAdfLido.OFP_FlightPlan\",\n    \"result\": \"',activity('Copy_OFP_FlightPlan').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_OFP_FlightPlan').output.executionDetails[0].status,'Succeeded'),activity('Copy_OFP_FlightPlan').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_FlightPlan_Remark\",\n    \"result\": \"',activity('Copy_OFP_FlightPlan_Remark').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_OFP_FlightPlan_Remark').output.executionDetails[0].status,'Succeeded'),activity('Copy_OFP_FlightPlan_Remark').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_FlightPlanHeader\",\n    \"result\": \"',activity('Copy_OFP_FlightPlanHeader').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_OFP_FlightPlanHeader').output.executionDetails[0].status,'Succeeded'),activity('Copy_OFP_FlightPlanHeader').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_FlightPlanSummary\",\n    \"result\": \"',activity('Copy_OFP_FlightPlanSummary').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_OFP_FlightPlanSummary').output.executionDetails[0].status,'Succeeded'),activity('Copy_OFP_FlightPlanSummary').output.rowsCopied,0),'\n}]\n'))"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set createid",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set loaddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Copy_OFP_FlightPlanSummary",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_OFP_FlightPlanSummary_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT [FlightPlanId]\n,[ScheduledTimeOfArrival]\n,[CTOTValue]\n,[CTOTCorrectedValue]\n,[CTOTCorrectedSource]\n,[OutTimeEstimatedValue]\n,[OutTimeEstimatedCorrectedValue]\n,[OutTimeEstimatedCorrectedSource]\n,[OutTimeActualValue]\n,[OutTimeActualCorrectedValue]\n,[OutTimeActualCorrectedSource]\n,[OffTimeEstimatedValue]\n,[OffTimeEstimatedCorrectedValue]\n,[OffTimeEstimatedCorrectedSource]\n,[OffTimeActualValue]\n,[OffTimeActualCorrectedValue]\n,[OffTimeActualCorrectedSource]\n,[OnTimeEstimatedValue]\n,[OnTimeEstimatedCorrectedValue]\n,[OnTimeEstimatedCorrectedSource]\n,[OnTimeActualValue]\n,[OnTimeActualCorrectedValue]\n,[OnTimeActualCorrectedSource]\n,[InTimeEstimatedValue]\n,[InTimeEstimatedCorrectedValue]\n,[InTimeEstimatedCorrectedSource]\n,[InTimeActualValue]\n,[InTimeActualCorrectedValue]\n,[InTimeActualCorrectedSource]\n,[MetaLoad].[ISO8601Period2Seconds]([BlockTimeEstimatedValue]) as BlockTimeEstimatedValue\n,[BlockTimeEstimatedCorrectedValue]\n,[BlockTimeEstimatedCorrectedSource]\n,[BlockTimeActualValue]\n,[BlockTimeActualCorrectedValue]\n,[BlockTimeActualCorrectedSource]\n,[MetaLoad].[ISO8601Period2Seconds]([TaxiOutTimeEstimatedValue]) as TaxiOutTimeEstimatedValue\n,[TaxiOutTimeEstimatedCorrectedValue]\n,[TaxiOutTimeEstimatedCorrectedSource]\n,[TaxiOutTimeActualValue]\n,[TaxiOutTimeActualCorrectedValue]\n,[TaxiOutTimeActualCorrectedSource]\n,[MetaLoad].[ISO8601Period2Seconds]([FlightTimeEstimatedValue]) as FlightTimeEstimatedValue\n,[FlightTimeEstimatedCorrectedValue]\n,[FlightTimeEstimatedCorrectedSource]\n,[FlightTimeActualValue]\n,[FlightTimeActualCorrectedValue]\n,[FlightTimeActualCorrectedSource]\n,[MetaLoad].[ISO8601Period2Seconds]([TaxiInTimeEstimatedValue]) as TaxiInTimeEstimatedValue\n,[TaxiInTimeEstimatedCorrectedValue]\n,[TaxiInTimeEstimatedCorrectedSource]\n,[TaxiInTimeActualValue]\n,[TaxiInTimeActualCorrectedValue]\n,[TaxiInTimeActualCorrectedSource]\n,[FuelUsedEngine1Unit]\n,[FuelUsedEngine1Value]\n,[FuelUsedEngine1CorrectedValueSource]\n,[FuelUsedEngine1CorrectedValueUnit]\n,[FuelUsedEngine1CorrectedValue]\n,[FuelUsedEngine2Unit]\n,[FuelUsedEngine2Value]\n,[FuelUsedEngine2CorrectedValueSource]\n,[FuelUsedEngine2CorrectedValueUnit]\n,[FuelUsedEngine2CorrectedValue]\n,[FuelUsedEngine3Unit]\n,[FuelUsedEngine3Value]\n,[FuelUsedEngine3CorrectedValueSource]\n,[FuelUsedEngine3CorrectedValueUnit]\n,[FuelUsedEngine3CorrectedValue]\n,[FuelUsedEngine4Unit]\n,[FuelUsedEngine4Value]\n,[FuelUsedEngine4CorrectedValueSource]\n,[FuelUsedEngine4CorrectedValueUnit]\n,[FuelUsedEngine4CorrectedValue]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfLido].[OFP_FlightPlanSummary_Stage]\nwhere tfilename = '@{pipeline().parameters.InputFileName}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ScheduledTimeOfArrival",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ScheduledTimeOfArrival",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CTOTValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CTOTValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CTOTCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CTOTCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CTOTCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CTOTCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OutTimeEstimatedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OutTimeEstimatedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OutTimeEstimatedCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OutTimeEstimatedCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OutTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OutTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OutTimeActualValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OutTimeActualValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OutTimeActualCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OutTimeActualCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OutTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OutTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OffTimeEstimatedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OffTimeEstimatedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OffTimeEstimatedCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OffTimeEstimatedCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OffTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OffTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OffTimeActualValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OffTimeActualValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OffTimeActualCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OffTimeActualCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OffTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OffTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OnTimeEstimatedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OnTimeEstimatedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OnTimeEstimatedCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OnTimeEstimatedCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OnTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OnTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OnTimeActualValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OnTimeActualValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OnTimeActualCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OnTimeActualCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OnTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OnTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "InTimeEstimatedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InTimeEstimatedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "InTimeEstimatedCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InTimeEstimatedCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "InTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "InTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "InTimeActualValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InTimeActualValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "InTimeActualCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InTimeActualCorrectedValue",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "InTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "InTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BlockTimeEstimatedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BlockTimeEstimatedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BlockTimeEstimatedCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BlockTimeEstimatedCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BlockTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BlockTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BlockTimeActualValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BlockTimeActualValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BlockTimeActualCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BlockTimeActualCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BlockTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BlockTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TaxiOutTimeEstimatedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TaxiOutTimeEstimatedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxiOutTimeEstimatedCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TaxiOutTimeEstimatedCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxiOutTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TaxiOutTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TaxiOutTimeActualValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TaxiOutTimeActualValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxiOutTimeActualCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TaxiOutTimeActualCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxiOutTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TaxiOutTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FlightTimeEstimatedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FlightTimeEstimatedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FlightTimeEstimatedCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FlightTimeEstimatedCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FlightTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FlightTimeActualValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FlightTimeActualValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FlightTimeActualCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FlightTimeActualCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FlightTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TaxiInTimeEstimatedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TaxiInTimeEstimatedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxiInTimeEstimatedCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TaxiInTimeEstimatedCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxiInTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TaxiInTimeEstimatedCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TaxiInTimeActualValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TaxiInTimeActualValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxiInTimeActualCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TaxiInTimeActualCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TaxiInTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TaxiInTimeActualCorrectedSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine1Unit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine1Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine1Value",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelUsedEngine1Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine1CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine1CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine1CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine1CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine1CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelUsedEngine1CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine2Unit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine2Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine2Value",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelUsedEngine2Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine2CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine2CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine2CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine2CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine2CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelUsedEngine2CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine3Unit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine3Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine3Value",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelUsedEngine3Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine3CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine3CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine3CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine3CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine3CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelUsedEngine3CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine4Unit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine4Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine4Value",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelUsedEngine4Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine4CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine4CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine4CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelUsedEngine4CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelUsedEngine4CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelUsedEngine4CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "synapse_BcAdfLido",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "OFP_FlightPlanSummary_Stage"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "synapse_BcAdfLido",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "OFP_FlightPlanSummary"
						}
					}
				]
			},
			{
				"name": "Delete_OFP_FlightPlanSummary_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_OFP_FlightPlanSummary",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "@concat('delete FROM [BcAdfLido].[OFP_FlightPlanSummary_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"InputFileName": {
				"type": "string",
				"defaultValue": "ofp.xml"
			}
		},
		"variables": {
			"v_createdid": {
				"type": "String"
			},
			"v_loaddate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-30T14:48:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}