pipeline/pl_Waypoint.json
{
	"name": "pl_Waypoint",
	"properties": {
		"activities": [
			{
				"name": "Copy_Waypoint_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "SequenceId",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['@waypointId']"
								},
								"sink": {
									"name": "WaypointId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@waypointName']"
								},
								"sink": {
									"name": "WaypointName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@countryICAOCode']"
								},
								"sink": {
									"name": "CountryICAOCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@waypointLongName']"
								},
								"sink": {
									"name": "WaypointLongName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@passed']"
								},
								"sink": {
									"name": "Passed",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['@updateRequested']"
								},
								"sink": {
									"name": "UpdateRequested",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['@creationMethod']"
								},
								"sink": {
									"name": "CreationMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@deleted']"
								},
								"sink": {
									"name": "Deleted",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Coordinates']['@latitude']"
								},
								"sink": {
									"name": "CoordinatesLatitude",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Coordinates']['@longitude']"
								},
								"sink": {
									"name": "CoordinatesLongitude",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Coordinates']['_value_']"
								},
								"sink": {
									"name": "Coordinates",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airway']['@type']"
								},
								"sink": {
									"name": "AirwayType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airway']['_value_']"
								},
								"sink": {
									"name": "Airway",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['Value']['@unit']"
								},
								"sink": {
									"name": "AltitudeEstimatedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AltitudeEstimatedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AltitudeEstimatedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AltitudeEstimatedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['Value']['_value_']"
								},
								"sink": {
									"name": "AltitudeActualValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['Value']['@unit']"
								},
								"sink": {
									"name": "AltitudeActualUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AltitudeActualCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AltitudeActualCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AltitudeActualCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['Value']['_value_']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['Value']['@unit']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['Value']['@type']"
								},
								"sink": {
									"name": "SegmentWindDirectionType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentWindDirectionUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentWindDirectionValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['CorrectedValue']['@type']"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValueType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentWindSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentWindSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentWindSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentWindSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentWindSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentWindComponentValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentWindComponentUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentWindComponentCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentWindComponentCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentWindComponentCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['AltitudeDifference']['_value_']"
								},
								"sink": {
									"name": "SegmentShearRateAltitudeDifference",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['AltitudeDifference']['@unit']"
								},
								"sink": {
									"name": "SegmentShearRateAltitudeDifferenceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentTemperatureValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentTemperatureUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentTemperatureCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentTemperatureCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentTemperatureCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentISADeviationValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentISADeviationUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentISADeviationCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentISADeviationCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentISADeviationCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['Value']['@unit']"
								},
								"sink": {
									"name": "TropopauseUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['Value']['_value_']"
								},
								"sink": {
									"name": "TropopauseValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TropopauseCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "TropopauseCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TropopauseCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MachNumber']['EstimatedMachNumber']['Value']"
								},
								"sink": {
									"name": "MachNumberEstimatedMachNumberValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MachNumber']['EstimatedMachNumber']['CorrectedValue']"
								},
								"sink": {
									"name": "MachNumberEstimatedMachNumberCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MachNumber']['ActualMachNumber']['Value']"
								},
								"sink": {
									"name": "MachNumberActualMachNumberValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MachNumber']['ActualMachNumber']['CorrectedValue']"
								},
								"sink": {
									"name": "MachNumberActualMachNumberCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "GroundDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "GroundDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "RemainingGroundDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "RemainingGroundDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "RemainingGroundDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "RemainingGroundDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "RemainingGroundDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "AirDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "AirDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AirDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AirDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AirDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "RemainingAirDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "RemainingAirDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "RemainingAirDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "RemainingAirDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "RemainingAirDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointEstimatedTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointEstimatedTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointEstimatedTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['ActualTime']['Value']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointActualTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointActualTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointActualTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "TimeOverWaypointEstimatedTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TimeOverWaypointEstimatedTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TimeOverWaypointEstimatedTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['ActualTime']['Value']['_value_']"
								},
								"sink": {
									"name": "TimeOverWaypointActualTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TimeOverWaypointActualTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TimeOverWaypointActualTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "CummulatedFlightTimeEstimatedTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedFlightTimeEstimatedTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedFlightTimeEstimatedTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "CummulatedFlightTimeActualTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedFlightTimeActualTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedFlightTimeActualTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "RemainingFlightTimeEstimatedTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "RemainingFlightTimeEstimatedTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "RemainingFlightTimeEstimatedTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "RemainingFlightTimeActualTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "RemainingFlightTimeActualTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "RemainingFlightTimeActualTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "BurnOffActualWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "BurnOffActualWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "BurnOffActualWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "BurnOffActualWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "BurnOffActualWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['Value']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['Value']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['Value']['_value_']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['Value']['@unit']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['Value']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['Value']['_value_']"
								},
								"sink": {
									"name": "LeakDetectionValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['Value']['@unit']"
								},
								"sink": {
									"name": "LeakDetectionUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "LeakDetectionCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "LeakDetectionCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "LeakDetectionCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['Value']['_value_']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['Value']['@unit']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airspace']['@airspaceICAOCode']"
								},
								"sink": {
									"name": "AirspaceAirspaceICAOCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airspace']['AirspaceName']"
								},
								"sink": {
									"name": "AirspaceAirspaceName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airspace']['RadioFrequency']"
								},
								"sink": {
									"name": "AirspaceRadioFrequency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['Value']['_value_']"
								},
								"sink": {
									"name": "AltitudeEstimatedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']"
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Function_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Function']"
								},
								"sink": {
									"name": "Function",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Function_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Remark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.11:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['Waypoints']['Waypoint']['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['Waypoints']['Waypoint']['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['Waypoints']['Waypoint']['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Paragraph']['Text']"
								},
								"sink": {
									"name": "Text",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Paragraph']['@sequence']"
								},
								"sink": {
									"name": "Sequence",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['@remarkType']"
								},
								"sink": {
									"name": "RemarkType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']['Remarks']['Remark']"
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Remark",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_OutboundTrack_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['Value']['@type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['Value']['@unit']"
								},
								"sink": {
									"name": "Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']"
								},
								"sink": {
									"name": "Value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['CorrectedValue']"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['CorrectedValue']['@type']"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_OutboundTrack_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_SegmentTrack_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['Value']['@type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['Value']['@unit']"
								},
								"sink": {
									"name": "Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']"
								},
								"sink": {
									"name": "Value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['CorrectedValue']"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['CorrectedValue']['@type']"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_SegmentTrack_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_InboundTrack_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['Value']['@type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['Value']['@unit']"
								},
								"sink": {
									"name": "Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']"
								},
								"sink": {
									"name": "Value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['CorrectedValue']"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['CorrectedValue']['@type']"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_InboundTrack_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_OutboundTrack",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_OutboundTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [FlightPlanId]\n,json_value(b.Value, ''$.Value._value_'') as \"Value\"\n,json_value(b.Value, ''$.Value.\"@type\"'') as Type\n,json_value(b.Value, ''$.Value.\"@unit\"'') as Unit\n,[DataType]\n,[AlternateRouteAirportIATACode]\n,[WaypointSequenceId]\n,[CorrectedValue]\n,[CorrectedValueType]\n,[CorrectedValueUnit]\n,[CorrectedValueSource]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfLido].[OFP_Waypoint_Tracks_OutboundTrack_Stage] A\n cross apply openjson(Value) b\n where tfilename = ''',pipeline().parameters.InputFileName,''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Value",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_OutboundTrack_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_OutboundTrack",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_SegmentTrack",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_SegmentTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [FlightPlanId]\n,json_value(b.Value, ''$.Value._value_'') as \"Value\"\n,json_value(b.Value, ''$.Value.\"@type\"'') as Type\n,json_value(b.Value, ''$.Value.\"@unit\"'') as Unit\n,[DataType]\n,[AlternateRouteAirportIATACode]\n,[WaypointSequenceId]\n,[CorrectedValue]\n,[CorrectedValueType]\n,[CorrectedValueUnit]\n,[CorrectedValueSource]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfLido].[OFP_Waypoint_Tracks_SegmentTrack_Stage] A\n cross apply openjson(Value) b\n where tfilename = ''',pipeline().parameters.InputFileName,''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Value",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_SegmentTrack_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_SegmentTrack",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_InboundTrack",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_InboundTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [FlightPlanId]\n,json_value(b.Value, ''$.Value._value_'') as \"Value\"\n,json_value(b.Value, ''$.Value.\"@type\"'') as Type\n,json_value(b.Value, ''$.Value.\"@unit\"'') as Unit\n,[DataType]\n,[AlternateRouteAirportIATACode]\n,[WaypointSequenceId]\n,[CorrectedValue]\n,[CorrectedValueType]\n,[CorrectedValueUnit]\n,[CorrectedValueSource]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfLido].[OFP_Waypoint_Tracks_InboundTrack_Stage] A\n cross apply openjson(Value) b\n where tfilename = ''',pipeline().parameters.InputFileName,''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Value",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_SegmentTrack_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_InboundTrack",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Function",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Function_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [FlightPlanId]\n,[DataType]\n,[AlternateRouteAirportIATACode]\n,[WaypointSequenceId]\n,b.value as [Function]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName] \n FROM [BcAdfLido].[OFP_Waypoint_Function_Stage]\n cross APPLY openjson(\n    case when Left([Function],1) =''['' \n     then [Function] \n     else ''[\"''+[Function]+''\"]'' end ,''$'') b\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Function",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Function",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_Waypoint_Function_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Function",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete_Waypoint_Function_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Function",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('delete FROM [BcAdfLido].[OFP_Waypoint_Function_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete_Waypoint_Tracks_OutboundTrack_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_OutboundTrack",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('delete FROM [BcAdfLido].[OFP_Waypoint_Tracks_OutboundTrack_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete_Waypoint_Tracks_SegmentTrack_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_SegmentTrack",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('delete FROM [BcAdfLido].[OFP_Waypoint_Tracks_SegmentTrack_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete_Waypoint_Tracks_InboundTrack_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_InboundTrack",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('delete FROM [BcAdfLido].[OFP_Waypoint_Tracks_InboundTrack_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set createid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_createdid",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set loaddate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_loaddate",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set createid",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Set loaddate",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Delete_Waypoint_Tracks_InboundTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Delete_Waypoint_Tracks_SegmentTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Delete_Waypoint_Function_Stage",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Delete_Waypoint_Tracks_OutboundTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Copy_Waypoint_Remark",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Delete_Waypoint_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "created_id",
							"value": {
								"type": "Expression",
								"content": "@variables('v_createdid')"
							}
						},
						{
							"key": "load_date",
							"value": {
								"type": "Expression",
								"content": "@variables('v_loaddate')"
							}
						},
						{
							"key": "log_output",
							"value": {
								"type": "Expression",
								"content": "@json(\nconcat(\n'[{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Tracks_InboundTrack\",\n    \"result\": \"',activity('Copy_Waypoint_Tracks_InboundTrack').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Tracks_InboundTrack').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Tracks_InboundTrack').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Tracks_OutboundTrack\",\n    \"result\": \"',activity('Copy_Waypoint_Tracks_OutboundTrack').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Tracks_OutboundTrack').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Tracks_OutboundTrack').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Tracks_SegmentTrack\",\n    \"result\": \"',activity('Copy_Waypoint_Tracks_SegmentTrack').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Tracks_SegmentTrack').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Tracks_SegmentTrack').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Function\",\n    \"result\": \"',activity('Copy_Waypoint_Function').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Function').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Function').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Remark\",\n    \"result\": \"',activity('Copy_Waypoint_Remark').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Remark').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Remark').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint\",\n    \"result\": \"',activity('Copy_Waypoint').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint').output.rowsCopied,0),'\n}]\n'))"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Copy_Waypoint",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT [FlightPlanId]\n,[DataType]\n,[AlternateRouteAirportIATACode]\n,[SequenceId]\n,[WaypointId]\n,[WaypointName]\n,[CountryICAOCode]\n,[WaypointLongName]\n,[Passed]\n,[UpdateRequested]\n,[CreationMethod]\n,[Deleted]\n,[CoordinatesLatitude]\n,[CoordinatesLongitude]\n,[Coordinates]\n,[AirwayType]\n,[Airway]\n,[AltitudeEstimatedValue]\n,[AltitudeEstimatedUnit]\n,[AltitudeEstimatedCorrectedValue]\n,[AltitudeEstimatedCorrectedValueUnit]\n,[AltitudeEstimatedCorrectedValueSource]\n,[AltitudeActualValue]\n,[AltitudeActualUnit]\n,[AltitudeActualCorrectedValue]\n,[AltitudeActualCorrectedValueUnit]\n,[AltitudeActualCorrectedValueSource]\n,[MinimumSafeAltitudeValue]\n,[MinimumSafeAltitudeUnit]\n,[MinimumSafeAltitudeCorrectedValue]\n,[MinimumSafeAltitudeCorrectedValueUnit]\n,[MinimumSafeAltitudeCorrectedValueSource]\n,[SegmentWindDirectionType]\n,[SegmentWindDirectionUnit]\n,[SegmentWindDirectionValue]\n,[SegmentWindDirectionCorrectedValueSource]\n,[SegmentWindDirectionCorrectedValueType]\n,[SegmentWindDirectionCorrectedValueUnit]\n,[SegmentWindDirectionCorrectedValue]\n,[SegmentWindSpeedUnit]\n,[SegmentWindSpeedValue]\n,[SegmentWindSpeedCorrectedValueSource]\n,[SegmentWindSpeedCorrectedValueUnit]\n,[SegmentWindSpeedCorrectedValue]\n,[SegmentWindComponentValue]\n,[SegmentWindComponentUnit]\n,[SegmentWindComponentCorrectedValue]\n,[SegmentWindComponentCorrectedValueUnit]\n,[SegmentWindComponentCorrectedValueSource]\n,[SegmentShearRateSegmentVerticalWindChangeValue]\n,[SegmentShearRateSegmentVerticalWindChangeUnit]\n,[SegmentShearRateSegmentVerticalWindChangeCorrectedValue]\n,[SegmentShearRateSegmentVerticalWindChangeCorrectedValueUnit]\n,[SegmentShearRateSegmentVerticalWindChangeCorrectedValueSource]\n,[SegmentShearRateAltitudeDifference]\n,[SegmentShearRateAltitudeDifferenceUnit]\n,[SegmentTemperatureValue]\n,[SegmentTemperatureUnit]\n,[SegmentTemperatureCorrectedValue]\n,[SegmentTemperatureCorrectedValueUnit]\n,[SegmentTemperatureCorrectedValueSource]\n,[SegmentISADeviationValue]\n,[SegmentISADeviationUnit]\n,[SegmentISADeviationCorrectedValue]\n,[SegmentISADeviationCorrectedValueUnit]\n,[SegmentISADeviationCorrectedValueSource]\n,[TropopauseValue]\n,[TropopauseUnit]\n,[TropopauseCorrectedValue]\n,[TropopauseCorrectedValueUnit]\n,[TropopauseCorrectedValueSource]\n,[TrueAirSpeedEstimatedSpeedValue]\n,[TrueAirSpeedEstimatedSpeedUnit]\n,[TrueAirSpeedEstimatedSpeedCorrectedValue]\n,[TrueAirSpeedEstimatedSpeedCorrectedValueUnit]\n,[TrueAirSpeedEstimatedSpeedCorrectedValueSource]\n,[TrueAirSpeedActualSpeedValue]\n,[TrueAirSpeedActualSpeedUnit]\n,[TrueAirSpeedActualSpeedCorrectedValue]\n,[TrueAirSpeedActualSpeedCorrectedValueUnit]\n,[TrueAirSpeedActualSpeedCorrectedValueSource]\n,[MachNumberEstimatedMachNumberValue]\n,[MachNumberEstimatedMachNumberCorrectedValue]\n,[MachNumberActualMachNumberValue]\n,[MachNumberActualMachNumberCorrectedValue]\n,[IndicatedAirSpeedEstimatedSpeedValue]\n,[IndicatedAirSpeedEstimatedSpeedUnit]\n,[IndicatedAirSpeedEstimatedSpeedCorrectedValue]\n,[IndicatedAirSpeedEstimatedSpeedCorrectedValueUnit]\n,[IndicatedAirSpeedEstimatedSpeedCorrectedValueSource]\n,[IndicatedAirSpeedActualSpeedValue]\n,[IndicatedAirSpeedActualSpeedUnit]\n,[IndicatedAirSpeedActualSpeedCorrectedValue]\n,[IndicatedAirSpeedActualSpeedCorrectedValueUnit]\n,[IndicatedAirSpeedActualSpeedCorrectedValueSource]\n,[GroundSpeedEstimatedSpeedValue]\n,[GroundSpeedEstimatedSpeedUnit]\n,[GroundSpeedEstimatedSpeedCorrectedValue]\n,[GroundSpeedEstimatedSpeedCorrectedValueUnit]\n,[GroundSpeedEstimatedSpeedCorrectedValueSource]\n,[GroundSpeedActualSpeedValue]\n,[GroundSpeedActualSpeedUnit]\n,[GroundSpeedActualSpeedCorrectedValue]\n,[GroundSpeedActualSpeedCorrectedValueUnit]\n,[GroundSpeedActualSpeedCorrectedValueSource]\n,[GroundDistanceValue]\n,[GroundDistanceUnit]\n,[GroundDistanceCorrectedValue]\n,[GroundDistanceCorrectedValueUnit]\n,[GroundDistanceCorrectedValueSource]\n,[RemainingGroundDistanceValue]\n,[RemainingGroundDistanceUnit]\n,[RemainingGroundDistanceCorrectedValue]\n,[RemainingGroundDistanceCorrectedValueUnit]\n,[RemainingGroundDistanceCorrectedValueSource]\n,[AirDistanceValue]\n,[AirDistanceUnit]\n,[AirDistanceCorrectedValue]\n,[AirDistanceCorrectedValueUnit]\n,[AirDistanceCorrectedValueSource]\n,[RemainingAirDistanceValue]\n,[RemainingAirDistanceUnit]\n,[RemainingAirDistanceCorrectedValue]\n,[RemainingAirDistanceCorrectedValueUnit]\n,[RemainingAirDistanceCorrectedValueSource]\n,[MetaLoad].[ISO8601Period2Seconds]([TimeFromPreviousWaypointEstimatedTimeValue]) as TimeFromPreviousWaypointEstimatedTimeValue\n,[MetaLoad].[ISO8601Period2Seconds]([TimeFromPreviousWaypointEstimatedTimeCorrectedValue]) as TimeFromPreviousWaypointEstimatedTimeCorrectedValue\n,[TimeFromPreviousWaypointEstimatedTimeCorrectedValueSource]\n,[MetaLoad].[ISO8601Period2Seconds]([TimeFromPreviousWaypointActualTimeValue]) as TimeFromPreviousWaypointActualTimeValue\n,[MetaLoad].[ISO8601Period2Seconds]([TimeFromPreviousWaypointActualTimeCorrectedValue]) as TimeFromPreviousWaypointActualTimeCorrectedValue\n,[TimeFromPreviousWaypointActualTimeCorrectedValueSource]\n,[MetaLoad].[ISO8601Period2Seconds]([TimeOverWaypointEstimatedTimeValue]) as TimeOverWaypointEstimatedTimeValue\n,[MetaLoad].[ISO8601Period2Seconds]([TimeOverWaypointEstimatedTimeCorrectedValue]) as TimeOverWaypointEstimatedTimeCorrectedValue \n,[TimeOverWaypointEstimatedTimeCorrectedValueSource]\n,[MetaLoad].[ISO8601Period2Seconds]([TimeOverWaypointActualTimeValue]) as TimeOverWaypointActualTimeValue\n,[MetaLoad].[ISO8601Period2Seconds]([TimeOverWaypointActualTimeCorrectedValue]) as TimeOverWaypointActualTimeCorrectedValue\n,[TimeOverWaypointActualTimeCorrectedValueSource]\n,[MetaLoad].[ISO8601Period2Seconds]([CummulatedFlightTimeEstimatedTimeValue]) as CummulatedFlightTimeEstimatedTimeValue\n,[MetaLoad].[ISO8601Period2Seconds]([CummulatedFlightTimeEstimatedTimeCorrectedValue]) as CummulatedFlightTimeEstimatedTimeCorrectedValue\n,[CummulatedFlightTimeEstimatedTimeCorrectedValueSource]\n,[MetaLoad].[ISO8601Period2Seconds]([CummulatedFlightTimeActualTimeValue]) as CummulatedFlightTimeActualTimeValue\n,[MetaLoad].[ISO8601Period2Seconds]([CummulatedFlightTimeActualTimeCorrectedValue]) as CummulatedFlightTimeActualTimeCorrectedValue\n,[CummulatedFlightTimeActualTimeCorrectedValueSource]\n,[MetaLoad].[ISO8601Period2Seconds]([RemainingFlightTimeEstimatedTimeValue]) as RemainingFlightTimeEstimatedTimeValue\n,[MetaLoad].[ISO8601Period2Seconds]([RemainingFlightTimeEstimatedTimeCorrectedValue]) as RemainingFlightTimeEstimatedTimeCorrectedValue\n,[RemainingFlightTimeEstimatedTimeCorrectedValueSource]\n,[MetaLoad].[ISO8601Period2Seconds]([RemainingFlightTimeActualTimeValue]) as RemainingFlightTimeActualTimeValue\n,[MetaLoad].[ISO8601Period2Seconds]([RemainingFlightTimeActualTimeCorrectedValue]) as RemainingFlightTimeActualTimeCorrectedValue\n,[RemainingFlightTimeActualTimeCorrectedValueSource]\n,[BurnOffEstimatedWeightValue]\n,[BurnOffEstimatedWeightUnit]\n,[BurnOffEstimatedWeightCorrectedValue]\n,[BurnOffEstimatedWeightCorrectedValueUnit]\n,[BurnOffEstimatedWeightCorrectedValueSource]\n,[BurnOffActualWeightValue]\n,[BurnOffActualWeightUnit]\n,[BurnOffActualWeightCorrectedValue]\n,[BurnOffActualWeightCorrectedValueUnit]\n,[BurnOffActualWeightCorrectedValueSource]\n,[CummulatedBurnOffEstimatedWeightValue]\n,[CummulatedBurnOffEstimatedWeightUnit]\n,[CummulatedBurnOffEstimatedWeightCorrectedValue]\n,[CummulatedBurnOffEstimatedWeightCorrectedValueUnit]\n,[CummulatedBurnOffEstimatedWeightCorrectedValueSource]\n,[CummulatedBurnOffActualWeightValue]\n,[CummulatedBurnOffActualWeightUnit]\n,[CummulatedBurnOffActualWeightCorrectedValue]\n,[CummulatedBurnOffActualWeightCorrectedValueUnit]\n,[CummulatedBurnOffActualWeightCorrectedValueSource]\n,[CummulatedBurnOffDifferenceValue]\n,[CummulatedBurnOffDifferenceUnit]\n,[CummulatedBurnOffDifferenceCorrectedValue]\n,[CummulatedBurnOffDifferenceCorrectedValueUnit]\n,[CummulatedBurnOffDifferenceCorrectedValueSource]\n,[CalculatedFuelOnBoardValue]\n,[CalculatedFuelOnBoardUnit]\n,[CalculatedFuelOnBoardCorrectedValue]\n,[CalculatedFuelOnBoardCorrectedValueUnit]\n,[CalculatedFuelOnBoardCorrectedValueSource]\n,[FuelOnBoardEstimatedWeightValue]\n,[FuelOnBoardEstimatedWeightUnit]\n,[FuelOnBoardEstimatedWeightCorrectedValue]\n,[FuelOnBoardEstimatedWeightCorrectedValueUnit]\n,[FuelOnBoardEstimatedWeightCorrectedValueSource]\n,[FuelOnBoardActualWeightValue]\n,[FuelOnBoardActualWeightUnit]\n,[FuelOnBoardActualWeightCorrectedValue]\n,[FuelOnBoardActualWeightCorrectedValueUnit]\n,[FuelOnBoardActualWeightCorrectedValueSource]\n,[FuelOnBoardDifferenceValue]\n,[FuelOnBoardDifferenceUnit]\n,[FuelOnBoardDifferenceCorrectedValue]\n,[FuelOnBoardDifferenceCorrectedValueUnit]\n,[FuelOnBoardDifferenceCorrectedValueSource]\n,[LeakDetectionValue]\n,[LeakDetectionUnit]\n,[LeakDetectionCorrectedValue]\n,[LeakDetectionCorrectedValueUnit]\n,[LeakDetectionCorrectedValueSource]\n,[AircraftWeightEstimatedWeightValue]\n,[AircraftWeightEstimatedWeightUnit]\n,[AircraftWeightEstimatedWeightCorrectedValue]\n,[AircraftWeightEstimatedWeightCorrectedValueUnit]\n,[AircraftWeightEstimatedWeightCorrectedValueSource]\n,[AircraftWeightActualWeightValue]\n,[AircraftWeightActualWeightUnit]\n,[AircraftWeightActualWeightCorrectedValue]\n,[AircraftWeightActualWeightCorrectedValueUnit]\n,[AircraftWeightActualWeightCorrectedValueSource]\n,[MinimumFuelOnBoardValue]\n,[MinimumFuelOnBoardUnit]\n,[MinimumFuelOnBoardCorrectedValue]\n,[MinimumFuelOnBoardCorrectedValueUnit]\n,[MinimumFuelOnBoardCorrectedValueSource]\n,[AirspaceAirspaceICAOCode]\n,[AirspaceAirspaceName]\n,[AirspaceRadioFrequency]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfLido].[OFP_Waypoint_Stage]\nwhere tfilename = '@{pipeline().parameters.InputFileName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SequenceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SequenceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WaypointId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WaypointId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WaypointName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CountryICAOCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CountryICAOCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointLongName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WaypointLongName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Passed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "Passed",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "UpdateRequested",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "UpdateRequested",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CreationMethod",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreationMethod",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Deleted",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "Deleted",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CoordinatesLatitude",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CoordinatesLatitude",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CoordinatesLongitude",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CoordinatesLongitude",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Coordinates",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Coordinates",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirwayType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirwayType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Airway",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Airway",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AltitudeEstimatedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AltitudeEstimatedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AltitudeEstimatedUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AltitudeEstimatedUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AltitudeEstimatedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AltitudeEstimatedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AltitudeEstimatedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AltitudeEstimatedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AltitudeEstimatedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AltitudeEstimatedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AltitudeActualValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AltitudeActualValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AltitudeActualUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AltitudeActualUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AltitudeActualCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AltitudeActualCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AltitudeActualCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AltitudeActualCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AltitudeActualCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AltitudeActualCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MinimumSafeAltitudeValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "MinimumSafeAltitudeValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MinimumSafeAltitudeUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinimumSafeAltitudeUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MinimumSafeAltitudeCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "MinimumSafeAltitudeCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MinimumSafeAltitudeCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinimumSafeAltitudeCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MinimumSafeAltitudeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinimumSafeAltitudeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindDirectionType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindDirectionType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindDirectionUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindDirectionUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindDirectionValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentWindDirectionValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentWindDirectionCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindDirectionCorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindDirectionCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindDirectionCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentWindSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindSpeedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentWindSpeedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentWindSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentWindSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentWindComponentValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentWindComponentValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentWindComponentUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindComponentUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindComponentCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentWindComponentCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentWindComponentCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindComponentCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentWindComponentCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentWindComponentCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentShearRateSegmentVerticalWindChangeValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentShearRateSegmentVerticalWindChangeUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentShearRateAltitudeDifference",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentShearRateAltitudeDifference",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentShearRateAltitudeDifferenceUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentShearRateAltitudeDifferenceUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentTemperatureValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentTemperatureValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentTemperatureUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentTemperatureUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentTemperatureCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentTemperatureCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentTemperatureCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentTemperatureCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentTemperatureCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentTemperatureCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentISADeviationValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentISADeviationValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentISADeviationUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentISADeviationUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentISADeviationCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "SegmentISADeviationCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SegmentISADeviationCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentISADeviationCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SegmentISADeviationCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SegmentISADeviationCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TropopauseValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "TropopauseValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TropopauseUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TropopauseUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TropopauseCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "TropopauseCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TropopauseCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TropopauseCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TropopauseCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TropopauseCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedEstimatedSpeedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedEstimatedSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedActualSpeedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedActualSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedActualSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedActualSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TrueAirSpeedActualSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MachNumberEstimatedMachNumberValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "MachNumberEstimatedMachNumberValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MachNumberEstimatedMachNumberCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "MachNumberEstimatedMachNumberCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MachNumberActualMachNumberValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "MachNumberActualMachNumberValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MachNumberActualMachNumberCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "MachNumberActualMachNumberCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedEstimatedSpeedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedEstimatedSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedActualSpeedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedActualSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroundSpeedEstimatedSpeedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "GroundSpeedEstimatedSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroundSpeedActualSpeedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "GroundSpeedActualSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroundSpeedActualSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "GroundSpeedActualSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroundSpeedActualSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroundDistanceValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "GroundDistanceValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "GroundDistanceUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroundDistanceUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroundDistanceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "GroundDistanceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GroundDistanceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RemainingGroundDistanceValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "RemainingGroundDistanceValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "RemainingGroundDistanceUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RemainingGroundDistanceUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RemainingGroundDistanceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "RemainingGroundDistanceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "RemainingGroundDistanceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RemainingGroundDistanceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RemainingGroundDistanceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RemainingGroundDistanceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirDistanceValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AirDistanceValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AirDistanceUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirDistanceUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirDistanceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AirDistanceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AirDistanceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirDistanceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirDistanceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirDistanceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RemainingAirDistanceValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "RemainingAirDistanceValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "RemainingAirDistanceUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RemainingAirDistanceUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RemainingAirDistanceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "RemainingAirDistanceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "RemainingAirDistanceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RemainingAirDistanceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RemainingAirDistanceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RemainingAirDistanceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TimeFromPreviousWaypointEstimatedTimeValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointEstimatedTimeValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TimeFromPreviousWaypointEstimatedTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointEstimatedTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TimeFromPreviousWaypointEstimatedTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointEstimatedTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TimeFromPreviousWaypointActualTimeValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointActualTimeValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TimeFromPreviousWaypointActualTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointActualTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TimeFromPreviousWaypointActualTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointActualTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TimeOverWaypointEstimatedTimeValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TimeOverWaypointEstimatedTimeValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TimeOverWaypointEstimatedTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TimeOverWaypointEstimatedTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TimeOverWaypointEstimatedTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TimeOverWaypointEstimatedTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TimeOverWaypointActualTimeValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TimeOverWaypointActualTimeValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TimeOverWaypointActualTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TimeOverWaypointActualTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TimeOverWaypointActualTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TimeOverWaypointActualTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedFlightTimeEstimatedTimeValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CummulatedFlightTimeEstimatedTimeValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CummulatedFlightTimeEstimatedTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CummulatedFlightTimeEstimatedTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CummulatedFlightTimeEstimatedTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedFlightTimeEstimatedTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedFlightTimeActualTimeValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CummulatedFlightTimeActualTimeValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CummulatedFlightTimeActualTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CummulatedFlightTimeActualTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CummulatedFlightTimeActualTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedFlightTimeActualTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RemainingFlightTimeEstimatedTimeValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RemainingFlightTimeEstimatedTimeValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RemainingFlightTimeEstimatedTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RemainingFlightTimeEstimatedTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RemainingFlightTimeEstimatedTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RemainingFlightTimeEstimatedTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RemainingFlightTimeActualTimeValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RemainingFlightTimeActualTimeValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RemainingFlightTimeActualTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RemainingFlightTimeActualTimeCorrectedValue",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RemainingFlightTimeActualTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RemainingFlightTimeActualTimeCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BurnOffEstimatedWeightValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "BurnOffEstimatedWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BurnOffEstimatedWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "BurnOffEstimatedWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BurnOffEstimatedWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BurnOffActualWeightValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "BurnOffActualWeightValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "BurnOffActualWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BurnOffActualWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BurnOffActualWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "BurnOffActualWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "BurnOffActualWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BurnOffActualWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BurnOffActualWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BurnOffActualWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffEstimatedWeightValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffEstimatedWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffActualWeightValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffActualWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffActualWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffActualWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffActualWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffDifferenceValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffDifferenceUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffDifferenceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffDifferenceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CummulatedBurnOffDifferenceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CalculatedFuelOnBoardValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CalculatedFuelOnBoardUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CalculatedFuelOnBoardCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CalculatedFuelOnBoardCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CalculatedFuelOnBoardCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardEstimatedWeightValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardEstimatedWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardActualWeightValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardActualWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardActualWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardActualWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardActualWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardDifferenceValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardDifferenceUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardDifferenceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardDifferenceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FuelOnBoardDifferenceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LeakDetectionValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "LeakDetectionValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "LeakDetectionUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LeakDetectionUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LeakDetectionCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "LeakDetectionCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "LeakDetectionCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LeakDetectionCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LeakDetectionCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LeakDetectionCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AircraftWeightEstimatedWeightValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AircraftWeightEstimatedWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AircraftWeightEstimatedWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AircraftWeightEstimatedWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AircraftWeightEstimatedWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AircraftWeightActualWeightValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AircraftWeightActualWeightValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AircraftWeightActualWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftWeightActualWeightUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AircraftWeightActualWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "AircraftWeightActualWeightCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AircraftWeightActualWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftWeightActualWeightCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AircraftWeightActualWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AircraftWeightActualWeightCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MinimumFuelOnBoardValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "MinimumFuelOnBoardValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MinimumFuelOnBoardUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinimumFuelOnBoardUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MinimumFuelOnBoardCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "MinimumFuelOnBoardCorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MinimumFuelOnBoardCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinimumFuelOnBoardCorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MinimumFuelOnBoardCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MinimumFuelOnBoardCorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirspaceAirspaceICAOCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirspaceAirspaceICAOCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirspaceAirspaceName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirspaceAirspaceName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AirspaceRadioFrequency",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AirspaceRadioFrequency",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_Waypoint_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete_Waypoint_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('delete FROM [BcAdfLido].[OFP_Waypoint_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"InputFileName": {
				"type": "string",
				"defaultValue": "ofp.xml"
			}
		},
		"variables": {
			"v_createdid": {
				"type": "String"
			},
			"v_loaddate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}