pipeline/pl_Waypoint.json
{
	"name": "pl_Waypoint",
	"properties": {
		"activities": [
			{
				"name": "Copy_Waypoint",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "SequenceId",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['@waypointId']"
								},
								"sink": {
									"name": "WaypointId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@waypointName']"
								},
								"sink": {
									"name": "WaypointName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@countryICAOCode']"
								},
								"sink": {
									"name": "CountryICAOCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@waypointLongName']"
								},
								"sink": {
									"name": "WaypointLongName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@passed']"
								},
								"sink": {
									"name": "Passed",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['@updateRequested']"
								},
								"sink": {
									"name": "UpdateRequested",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['@creationMethod']"
								},
								"sink": {
									"name": "CreationMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@deleted']"
								},
								"sink": {
									"name": "Deleted",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Coordinates']['@latitude']"
								},
								"sink": {
									"name": "CoordinatesLatitude",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Coordinates']['@longitude']"
								},
								"sink": {
									"name": "CoordinatesLongitude",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Coordinates']['_value_']"
								},
								"sink": {
									"name": "Coordinates",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airway']['@type']"
								},
								"sink": {
									"name": "AirwayType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airway']['_value_']"
								},
								"sink": {
									"name": "Airway",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['Value']['@unit']"
								},
								"sink": {
									"name": "AltitudeEstimatedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AltitudeEstimatedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AltitudeEstimatedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AltitudeEstimatedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['Value']['_value_']"
								},
								"sink": {
									"name": "AltitudeActualValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['Value']['@unit']"
								},
								"sink": {
									"name": "AltitudeActualUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AltitudeActualCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AltitudeActualCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Altitude']['ActualAltitude']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AltitudeActualCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['Value']['_value_']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['Value']['@unit']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumSafeAltitude']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "MinimumSafeAltitudeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['Value']['@type']"
								},
								"sink": {
									"name": "SegmentWindDirectionType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentWindDirectionUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentWindDirectionValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['CorrectedValue']['@type']"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValueType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Direction']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentWindDirectionCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentWindSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentWindSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentWindSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentWindSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWind']['Speed']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentWindSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentWindComponentValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentWindComponentUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentWindComponentCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentWindComponentCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentWindComponent']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentWindComponentCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['SegmentVerticalWindChange']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentShearRateSegmentVerticalWindChangeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['AltitudeDifference']['_value_']"
								},
								"sink": {
									"name": "SegmentShearRateAltitudeDifference",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentShearRate']['AltitudeDifference']['@unit']"
								},
								"sink": {
									"name": "SegmentShearRateAltitudeDifferenceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentTemperatureValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentTemperatureUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentTemperatureCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentTemperatureCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentTemperature']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentTemperatureCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['Value']['_value_']"
								},
								"sink": {
									"name": "SegmentISADeviationValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['Value']['@unit']"
								},
								"sink": {
									"name": "SegmentISADeviationUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "SegmentISADeviationCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "SegmentISADeviationCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SegmentISADeviation']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "SegmentISADeviationCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['Value']['@unit']"
								},
								"sink": {
									"name": "TropopauseUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['Value']['_value_']"
								},
								"sink": {
									"name": "TropopauseValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TropopauseCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "TropopauseCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tropopause']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TropopauseCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['EstimatedSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TrueAirSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TrueAirSpeed']['ActualSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TrueAirSpeedActualSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MachNumber']['EstimatedMachNumber']['Value']"
								},
								"sink": {
									"name": "MachNumberEstimatedMachNumberValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MachNumber']['EstimatedMachNumber']['CorrectedValue']"
								},
								"sink": {
									"name": "MachNumberEstimatedMachNumberCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MachNumber']['ActualMachNumber']['Value']"
								},
								"sink": {
									"name": "MachNumberActualMachNumberValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MachNumber']['ActualMachNumber']['CorrectedValue']"
								},
								"sink": {
									"name": "MachNumberActualMachNumberCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['EstimatedSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "IndicatedAirSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IndicatedAirSpeed']['ActualSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "IndicatedAirSpeedActualSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['Value']['@unit']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['ActualSpeed']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "GroundSpeedActualSpeedCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "GroundDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "GroundDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "GroundDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "RemainingGroundDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "RemainingGroundDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "RemainingGroundDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "RemainingGroundDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingGroundDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "RemainingGroundDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "AirDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "AirDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AirDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AirDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AirDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AirDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['Value']['_value_']"
								},
								"sink": {
									"name": "RemainingAirDistanceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['Value']['@unit']"
								},
								"sink": {
									"name": "RemainingAirDistanceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "RemainingAirDistanceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "RemainingAirDistanceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingAirDistance']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "RemainingAirDistanceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointEstimatedTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointEstimatedTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointEstimatedTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['ActualTime']['Value']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointActualTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointActualTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeFromPreviousWaypoint']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TimeFromPreviousWaypointActualTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "TimeOverWaypointEstimatedTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TimeOverWaypointEstimatedTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TimeOverWaypointEstimatedTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['ActualTime']['Value']['_value_']"
								},
								"sink": {
									"name": "TimeOverWaypointActualTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "TimeOverWaypointActualTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TimeOverWaypoint']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "TimeOverWaypointActualTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "CummulatedFlightTimeEstimatedTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedFlightTimeEstimatedTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedFlightTimeEstimatedTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "CummulatedFlightTimeActualTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedFlightTimeActualTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedFlightTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedFlightTimeActualTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['EstimatedTime']['Value']"
								},
								"sink": {
									"name": "RemainingFlightTimeEstimatedTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['EstimatedTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "RemainingFlightTimeEstimatedTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['EstimatedTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "RemainingFlightTimeEstimatedTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['ActualTime']['Value']"
								},
								"sink": {
									"name": "RemainingFlightTimeActualTimeValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['ActualTime']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "RemainingFlightTimeActualTimeCorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RemainingFlightTime']['ActualTime']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "RemainingFlightTimeActualTimeCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['EstimatedWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "BurnOffEstimatedWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "BurnOffActualWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "BurnOffActualWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "BurnOffActualWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "BurnOffActualWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BurnOff']['ActualWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "BurnOffActualWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['EstimatedWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedBurnOffEstimatedWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOff']['ActualWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedBurnOffActualWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['Value']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['Value']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CumulatedBurnOffDifference']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CummulatedBurnOffDifferenceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['Value']['_value_']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['Value']['@unit']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CalculatedFuelOnBoard']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CalculatedFuelOnBoardCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['EstimatedWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelOnBoardEstimatedWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoard']['ActualWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelOnBoardActualWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['Value']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['Value']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FuelOnBoardDifference']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "FuelOnBoardDifferenceCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['Value']['_value_']"
								},
								"sink": {
									"name": "LeakDetectionValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['Value']['@unit']"
								},
								"sink": {
									"name": "LeakDetectionUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "LeakDetectionCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "LeakDetectionCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['LeakDetection']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "LeakDetectionCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['EstimatedWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AircraftWeightEstimatedWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['Value']['_value_']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['Value']['@unit']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AircraftWeight']['ActualWeight']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "AircraftWeightActualWeightCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['Value']['_value_']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['Value']['@unit']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['CorrectedValue']['_value_']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardCorrectedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardCorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['MinimumFuelOnBoard']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "MinimumFuelOnBoardCorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airspace']['@airspaceICAOCode']"
								},
								"sink": {
									"name": "AirspaceAirspaceICAOCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airspace']['AirspaceName']"
								},
								"sink": {
									"name": "AirspaceAirspaceName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Airspace']['RadioFrequency']"
								},
								"sink": {
									"name": "AirspaceRadioFrequency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GroundSpeed']['EstimatedSpeed']['Value']['_value_']"
								},
								"sink": {
									"name": "GroundSpeedEstimatedSpeedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Altitude']['EstimatedAltitude']['Value']['_value_']"
								},
								"sink": {
									"name": "AltitudeEstimatedValue",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']"
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Function_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Function']"
								},
								"sink": {
									"name": "Function",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Function_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Remark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.11:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['Waypoints']['Waypoint']['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['Waypoints']['Waypoint']['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['Waypoints']['Waypoint']['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "['Paragraph']['Text']"
								},
								"sink": {
									"name": "Text",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Paragraph']['@sequence']"
								},
								"sink": {
									"name": "Sequence",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['@remarkType']"
								},
								"sink": {
									"name": "RemarkType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']['Remarks']['Remark']"
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Remark",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_OutboundTrack_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['Value']['@type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['Value']['@unit']"
								},
								"sink": {
									"name": "Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']"
								},
								"sink": {
									"name": "Value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['CorrectedValue']"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['CorrectedValue']['@type']"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['OutboundTrack']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_OutboundTrack_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_SegmentTrack_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['Value']['@type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['Value']['@unit']"
								},
								"sink": {
									"name": "Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']"
								},
								"sink": {
									"name": "Value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['CorrectedValue']"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['CorrectedValue']['@type']"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['SegmentTrack']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_SegmentTrack_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_InboundTrack_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "TFileName",
								"value": {
									"value": "@pipeline().parameters.InputFileName",
									"type": "Expression"
								}
							},
							{
								"name": "TCreatedId",
								"value": {
									"value": "@variables('v_createdid')",
									"type": "Expression"
								}
							},
							{
								"name": "TLoadDate",
								"value": {
									"value": "@variables('v_loaddate')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.InputFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['@sequenceId']"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['FlightPlan']['@flightPlanId']"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@DataType']"
								},
								"sink": {
									"name": "DataType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['@alternateRouteAirportIATACode']"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['Value']['@type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['Value']['@unit']"
								},
								"sink": {
									"name": "Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']"
								},
								"sink": {
									"name": "Value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['CorrectedValue']"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['CorrectedValue']['@type']"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['CorrectedValue']['@unit']"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Tracks']['InboundTrack']['CorrectedValue']['@source']"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TFileName']"
								},
								"sink": {
									"name": "TFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TCreatedId']"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TLoadDate']"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['FlightPlan']['Waypoints']['Waypoint']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_xml",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_InboundTrack_Stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_OutboundTrack",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_OutboundTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [FlightPlanId]\n,json_value(b.Value, ''$.Value._value_'') as \"Value\"\n,json_value(b.Value, ''$.Value.\"@type\"'') as Type\n,json_value(b.Value, ''$.Value.\"@unit\"'') as Unit\n,[DataType]\n,[AlternateRouteAirportIATACode]\n,[WaypointSequenceId]\n,[CorrectedValue]\n,[CorrectedValueType]\n,[CorrectedValueUnit]\n,[CorrectedValueSource]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfLido].[OFP_Waypoint_Tracks_OutboundTrack_Stage] A\n cross apply openjson(Value) b\n where tfilename = ''',pipeline().parameters.InputFileName,''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Value",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_OutboundTrack_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_OutboundTrack",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_SegmentTrack",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_SegmentTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [FlightPlanId]\n,json_value(b.Value, ''$.Value._value_'') as \"Value\"\n,json_value(b.Value, ''$.Value.\"@type\"'') as Type\n,json_value(b.Value, ''$.Value.\"@unit\"'') as Unit\n,[DataType]\n,[AlternateRouteAirportIATACode]\n,[WaypointSequenceId]\n,[CorrectedValue]\n,[CorrectedValueType]\n,[CorrectedValueUnit]\n,[CorrectedValueSource]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfLido].[OFP_Waypoint_Tracks_SegmentTrack_Stage] A\n cross apply openjson(Value) b\n where tfilename = ''',pipeline().parameters.InputFileName,''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Value",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_SegmentTrack_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_SegmentTrack",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Tracks_InboundTrack",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_InboundTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [FlightPlanId]\n,json_value(b.Value, ''$.Value._value_'') as \"Value\"\n,json_value(b.Value, ''$.Value.\"@type\"'') as Type\n,json_value(b.Value, ''$.Value.\"@unit\"'') as Unit\n,[DataType]\n,[AlternateRouteAirportIATACode]\n,[WaypointSequenceId]\n,[CorrectedValue]\n,[CorrectedValueType]\n,[CorrectedValueUnit]\n,[CorrectedValueSource]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName]\n FROM [BcAdfLido].[OFP_Waypoint_Tracks_InboundTrack_Stage] A\n cross apply openjson(Value) b\n where tfilename = ''',pipeline().parameters.InputFileName,''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Value",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "CorrectedValue",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueUnit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorrectedValueSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_SegmentTrack_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Tracks_InboundTrack",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Waypoint_Function",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Function_Stage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [FlightPlanId]\n,[DataType]\n,[AlternateRouteAirportIATACode]\n,[WaypointSequenceId]\n,b.value as [Function]\n,[TCreatedId]\n,[TLoadDate]\n,[TFileName] \n FROM [BcAdfLido].[OFP_Waypoint_Function_Stage]\n cross APPLY openjson(\n    case when Left([Function],1) =''['' \n     then [Function] \n     else ''[\"''+[Function]+''\"]'' end ,''$'') b\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FlightPlanId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateRouteAirportIATACode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "WaypointSequenceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Function",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Function",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TCreatedId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TLoadDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OFP_Waypoint_Function_Stage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OFP_Waypoint_Function",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete_Waypoint_Function_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Function",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('delete FROM [BcAdfLido].[OFP_Waypoint_Function_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete_Waypoint_Tracks_OutboundTrack_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_OutboundTrack",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('delete FROM [BcAdfLido].[OFP_Waypoint_Tracks_OutboundTrack_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete_Waypoint_Tracks_SegmentTrack_Stage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_SegmentTrack",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('delete FROM [BcAdfLido].[OFP_Waypoint_Tracks_SegmentTrack_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete_Waypoint_Tracks_SegmentTrack_Stage_copy1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_Waypoint_Tracks_InboundTrack",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('delete FROM [BcAdfLido].[OFP_Waypoint_Tracks_InboundTrack_Stage]\nwhere tfilename = ''',pipeline().parameters.InputFileName,''';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set createid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_createdid",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set loaddate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_loaddate",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set createid",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Set loaddate",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Delete_Waypoint_Tracks_SegmentTrack_Stage_copy1",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Delete_Waypoint_Tracks_SegmentTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Delete_Waypoint_Function_Stage",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Delete_Waypoint_Tracks_OutboundTrack_Stage",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Copy_Waypoint",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Copy_Waypoint_Remark",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "created_id",
							"value": {
								"type": "Expression",
								"content": "@variables('v_createdid')"
							}
						},
						{
							"key": "load_date",
							"value": {
								"type": "Expression",
								"content": "@variables('v_loaddate')"
							}
						},
						{
							"key": "log_output",
							"value": {
								"type": "Expression",
								"content": "@json(\nconcat(\n'[{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Tracks_InboundTrack\",\n    \"result\": \"',activity('Copy_Waypoint_Tracks_InboundTrack').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Tracks_InboundTrack').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Tracks_InboundTrack').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Tracks_OutboundTrack\",\n    \"result\": \"',activity('Copy_Waypoint_Tracks_OutboundTrack').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Tracks_OutboundTrack').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Tracks_OutboundTrack').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Tracks_SegmentTrack\",\n    \"result\": \"',activity('Copy_Waypoint_Tracks_SegmentTrack').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Tracks_SegmentTrack').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Tracks_SegmentTrack').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Function\",\n    \"result\": \"',activity('Copy_Waypoint_Function').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Function').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Function').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint_Remark\",\n    \"result\": \"',activity('Copy_Waypoint_Remark').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint_Remark').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint_Remark').output.rowsCopied,0),'\n},\n{\n    \"table_name\":\"BcAdfLido.OFP_Waypoint\",\n    \"result\": \"',activity('Copy_Waypoint').output.executionDetails[0].status,'\",\n    \"rowcount\":', if(equals(activity('Copy_Waypoint').output.executionDetails[0].status,'Succeeded'),activity('Copy_Waypoint').output.rowsCopied,0),'\n}]\n'))"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"InputFileName": {
				"type": "string",
				"defaultValue": "ofp.xml"
			}
		},
		"variables": {
			"v_createdid": {
				"type": "String"
			},
			"v_loaddate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}